In [ ]:
# jupyter notebook

In [ ]:
x = 12.56
y = 6.8

In [ ]:
y

In [ ]:
y

In [ ]:
t = y*y

In [ ]:
z*2

In [ ]:
z = (x-y+t)/2

# What are Datatypes:-

I'm going to clean the data in the next steps
* lower case (A->a)
* remove extra spaces 
ghjjhgjhgjkhgkjh
7/

In [ ]:
x = 4

In [ ]:
# this is hashtag but not raw nb convert

In [ ]:
x

In [1]:
x = 4

In [2]:
x = 10

In [3]:
y = 2*x

In [4]:
y

20

In [ ]:
# 1 -> 4 -> 6 -> 7
# Meaning
x = 4
x = 10
y = 2*x
y

In [ ]:
# Combining them, what happens?

x = 4
y = 2*x
y
x = 10

In [ ]:
y

In [5]:
# Meaning, asdasds 2/0

# code to computer whether a given no. is prime or not
# x is the given value
x = 12

# Datatypes:-

In [ ]:
Every data has a type

age -> number 
height -> decimal value
pie (=22/7) -> fraction
name -> alphabets

Are you in the legal age to vote? -> True/False  (Boolean -> True or False)

100 students

rollno all 100 students
a = 123
b = 124
c = 125 ... 100 students

python -> sequence data types -> to store multiple values together
collection of all 100 roll nos --> a (will store all rollno's)

In [7]:
x = 1000000

numeric -> integer, float, complex numbers
bool (true=1/false=0)
sequence -> list, tuple, string

In [ ]:
"@", "ritesh", "!@#$%^&*()"

In [10]:
256*256

65536

In [ ]:

Image -> 3 channels (RGB) --> Every channel holds 256*256 (int values)
256*256*3 -> int values (image in computer) 

Video -> 10 frames -> 10 images ->

In [6]:
256*256*3
256*256*3*10

196608

In [ ]:
sequence of phenoms

basic unit of int values (pitch=100, volume=75, sharpness=0.1)
100 -> 300 int values -> sequence of int

In [ ]:
name1 = "pranil"
name2 = "virat"
name3 = "dhoni"
...
name100

all_names (sequence type) -> all 100 names

In [11]:
x = "python@3"
y = 'python@3'

x == y

True

In [9]:
x

'python@3'

string (sequence type)
Kohli has been the recipient of many awards– most notably the Sir Garfield Sobers Trophy (ICC Men's Cricketer of the Decade): 2011–2020; Sir Garfield Sobers Trophy (ICC Cricketer of the Year) in 2017 and 2018; ICC Test Player of the Year (2018); ICC ODI Player of the Year (2012, 2017, 2018) and Wisden Leading Cricketer in the World (2016, 2017 and 2018).[7] At the national level, he was awarded the Arjuna Award in 2013, the Padma Shri under the sports category in 2017[8] and the Rajiv Gandhi Khel Ratna award, the highest sporting honour in India, in 2018.[9] He is ranked as one of the world's most famous athletes by ESPN[10] and one of the most valuable athlete brands by Forbes.[11] In 2018, Time magazine named him one of the 100 most influential people in the world.[12] In 2020, he was ranked 66th in Forbes list of the top 100 highest-paid athletes in the world for the year 2020 with estimated earnings of over $26 million.[13]

In [ ]:
csv file -> rows, cols

2 rows, 3 cols
col1 -> name
col2 -> rollno
col3 -> height

6 values -> sequence

In [ ]:
1, 2, 3
4, 5, 6
7, 8, 9

9 values -> sequence of integers

In [ ]:
primitive data types:-
    
integer int
floating/double/decimal float
boolean bool


non-primitive data types:-
sequence -> list, tuple, str

In [ ]:
# How to check the type of any variable?
type(variable_name)

In [15]:
x = 5

In [16]:
type(x)

int

In [17]:
y = -3.7

In [18]:
type(y)

float

In [25]:
z = "hello class"

In [26]:
type(z)

str

In [28]:
result = True
# result = true  # not bool

In [29]:
type(result)

bool

In [23]:
bad_result = False

In [24]:
type(bad_result)

bool

int 

What values it can hold ==> -inf to inf all integers => -313, 0, 10000067

float

What values it can hold ==> -inf to inf all decimal => -10.97, 0.0, 123.4567890

In [ ]:
bool -> True, False

In [52]:
x = 0
type(x)

int

In [ ]:
str -> sequence -> infinite number of characters

In [32]:
x = "hello class asdasdasdasdasdadadsdadadasdasdasdasdasdasdasdadadadasdasdas"

In [33]:
x

'hello class asdasdasdasdasdadadsdadadasdasdasdasdasdasdasdadadadasdasdas'

In [ ]:
list 

sequence  -> inf no. of values
square brackets []

In [36]:
names = ["virat", "kohli", "dhoni", "chahal", "chahar"]

In [37]:
names

['virat', 'kohli', 'dhoni', 'chahal', 'chahar']

In [45]:
type(names)

list

In [ ]:
tuple

sequence -> inf no. of values
repr -> round brackets/paranthesis -> ()
or 
avoid ()

In [50]:
tuple1 = ("virat", "kohli", "rashid", "dhoni", "chahal", "chahar", "shreyas")

In [51]:
tuple1

('virat', 'kohli', 'rashid', 'dhoni', 'chahal', 'chahar', 'shreyas')

In [42]:
tuple2 = "virat", "kohli", "dhoni", "chahal", "chahar", "shreyas"

In [43]:
tuple2

('virat', 'kohli', 'dhoni', 'chahal', 'chahar', 'shreyas')

In [44]:
type(tuple2)

tuple

In [57]:
gender = "male", "female"
type(gender)

tuple

In [54]:
response = "yes"
type(response)

str

In [56]:
# response = yes

In [67]:
data = ["virat", "kohli", 200, 183, 560.5, "05-11-1983"]

In [68]:
type(data)

list

In [69]:
data

['virat', 'kohli', 200, 183, 560.5, '05-11-1983']

In [70]:
import sys

In [91]:
x = 5234567

In [92]:
type(x)

int

In [93]:
sys.getsizeof(x)

28

In [98]:
# len(x) - Error

In [94]:
z = 13.4

In [96]:
sys.getsizeof(z)

24

Primitive data types:-
store 1 value
size is constant

Non-primitive data types:-
All sequences
  store multiple values
  size is dynamic

In [80]:
y = "hello class !!!"

In [81]:
len(y)

15

In [82]:
data = ["virat", "kohli", 200, 183, 560.5, "05-11-1983"]

In [83]:
len(data)

6

In [84]:
data = ["virat", "kohli", 200, 183, 560.5, "05-11-1983", "captain"]

In [134]:
data

['virat', 'kohli', 200, 183, 560.5, '05-11-1983', 'captain']

In [99]:
data1 = ["apple", "orange", "mango"]
data2 = ["kiwi", "banana", "strawberry"]

In [100]:
data3 = data1 + data2

In [101]:
data3

['apple', 'orange', 'mango', 'kiwi', 'banana', 'strawberry']

In [102]:
len(data3)

6

In [103]:
sys.getsizeof(data3)

104

In [104]:
sys.getsizeof("apple") ## 54 * 6 -> NO

54

In [105]:
x = 5.4

In [106]:
y = int(x)

In [107]:
y

5

In [108]:
z = int(data3)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [ ]:
Memory allocation in python  (CSE fundamentals)

computers -> 0, 1 (bit)
to store a 0 or to store a 1 -> computer takes 1 bit
store the value 8 --> binary
8 ==> 00001000

powers of 2:-  2**3  2**2  2**1  2**0
                 1    0     0      0

2**3 times 1 + 2**2 times 0 + 2**1 times 0 + 2**0 times 0 
8*1 + 4*0 + 2*0 + 1*0
8 + 0 + 0 + 0
8

53 
powers of 2 ===>  32  16  8  4  2  1
                   1   1  0  1  0  1
32 + 16 + 4 + 1 = 53
53 in binary = 00110101


Computer is in bytes (4 GB-> 4 giga bytes)
number of digits in multiples of 8 --> 1 byte = 8 bits

In [ ]:
any programming language in memory does this


Example, size of int=1 byte ->>> 2**8-1  (all 0s --> start=0, 
                                          all 1s --> end=2**8-1)
                     2 bytes --> 2**16-1

In [111]:
x = 53
sys.getsizeof(x)  # 4 bytes (data) + 24 bytes (metadata) - say

28

In [112]:
id(x)

140681667551152

In [113]:
x = "apple"

In [114]:
len(x)

5

In [115]:
sys.getsizeof(x)

54

In [ ]:
x.

In [118]:
x = 55

In [117]:
id(x)

140681667551184

In [119]:
id(x)

140681667739696

In [120]:
x = 1

In [121]:
id(x)

140681667549488

In [122]:
y = 1

In [123]:
id(y)  # int interning, float interning, string interning

140681667549488

Interning -> When 2 variables holding same value, occupy the same address in memory (RAM)

In [124]:
x = x + 10

In [125]:
id(x)

140681667549808

In [126]:
id(y)

140681667549488

In [127]:
a = "hello"  # string interning
b = "hello"

In [128]:
id(a)

140681808991664

In [129]:
id(b) # RAM address

140681808991664

In [130]:
sys.getsizeof(a)

54

In [131]:
sys.getsizeof(b)

54

Sets & Dictionary -> MOST OPTIMIZED DATA TYPES in PYTHON

Sets are repr by set
Set is a "collection" of unique values (of any type)
repr by {} --> curly braces

In [149]:
vals = {"a", 123, "abcd", 321, -4.5, 123, "ABCD"}

# Python has performed *some operation* on each value in set
# *Intermediate result* --> *Ordered* this result

In [150]:
vals # RAM addresses

{-4.5, 123, 321, 'ABCD', 'a', 'abcd'}

In [145]:
type(vals)

set

In [146]:
len(vals)

6

In [ ]:
Dictionary


File
name, rollno, grade, section
"Virat", 1234, "X", "B"
"Dhoni", 1235, "X", "B"
"Rohit", 1236, "X", "B"
"Rahul", 1237, "X", "B"
1238, "X", "Chahal", "B"


key:value
1st student
"name": "Virat"
"rollno": 1234
"grade": "X"
"section": "B"
    
2nd student
"name": "Dhoni"
"rollno": 1235
"grade": "X"
"section": "B"
    
    
5th student
"rollno": 1238
"grade": "X"
"name": "Chahal"
"section": "B"
    
repr - flower braces {:}
{"name": "Virat", "rollno": 1234, "grade": "X", "section": "B"}

Collection of key value pairs

In [159]:
data = {"name": "", "rollno": -1, "grade": "X", "section": "B"}

In [160]:
data

{'name': '', 'rollno': None, 'grade': 'X', 'section': 'B'}

In [156]:
type(data)

dict

In [157]:
len(data)

4

In [161]:
type({"name": "Virat"})

dict

In [ ]:
Empty values for data types
int -> 0, -1, None
float -> 0.0, None
str -> ""
list -> []
tuple -> ()
set -> {}
dict -> {}

In [176]:
scores = [99, 67, 121]
avg_scores = {"test": 75, "odi": 53, "t20": 45}

In [172]:
data = {"name": "Virat", "rollno": 1234, "grade": "X", "section": "B",
        "scores": scores, "avg_scores": avg_scores}

In [173]:
data

{'name': 'Virat',
 'rollno': 1234,
 'grade': 'X',
 'section': 'B',
 'scores': [99, 67, 121],
 'avg_scores': {'test': 75, 'odi': 53, 't20': 45}}

In [177]:
data["name"]

'Virat'

In [179]:
data["avg_scores"]["test"]

75

In [ ]:
1st student
"name": "Virat"
"rollno": 1234
"grade": "X"
"section": "B"
    
2nd student
"name": "Dhoni"
"rollno": 1235
"grade": "X"
"section": "B"
    

5th student
"rollno": 1238
"grade": "X"
"name": "Chahal"
"section": "B"

In [ ]:
1234_aadhar_no
1234_name
1234_pic
1234_address (per person)

In [188]:
all_data = {1234: 
                {"name": "Virat", "grade": "X", "section": "B"},
            1235:
                {"name": "Dhoni", "grade": "X", "section": "B"},
            1238:
                {"name": "Chahal", "section": "B", "grade": "X"}}

In [192]:
all_data

{1234: {'name': 'Virat', 'grade': 'X', 'section': 'B'},
 1235: {'name': 'Dhoni', 'grade': 'X', 'section': 'B'},
 1238: {'name': 'Chahal', 'section': 'B', 'grade': 'X'}}

In [184]:
all_data[1234]

{'name': 'Virat', 'grade': 'X', 'section': 'B'}

In [185]:
all_data[1234]["section"]

'B'

In [ ]:
75, 35, 12

12, 99, 23

In [197]:
all_data = {1234: 
                {"name": "Virat", "grade": "X", "section": "B"},
            1235:
                {"name": "Dhoni", "grade": "X", "section": "B"},
            1238:
                {"name": "Dhoni", "section": "B", "grade": "X"}}

In [194]:
all_data[1235]["name"]

'Dhoni'

In [195]:
all_data[1238]["name"]

'Dhoni'

In [199]:
for k, v in all_data.items():
    if v["name"] == "Dhoni":
        print(k)

1235
1238

In [ ]:
Variable names
use any english chars (upper case or lower case)
use "_" (avoid other special characters)

TYPECASTING

Datatypes Conversion

In [200]:
5 == "abc"

False

In [ ]:
int, float, bool, str
list, tuple, set

In [202]:
i = 5
f = -6.7
b = True
s = "abc"
l = ["apples", "oranges", "mangoes"]
t = ("apples", "oranges", "mangoes")
se = {"apples", "oranges", "mangoes"}

In [203]:
i == f

False

In [206]:
# int to float
i_z_float = float(i)

In [207]:
i_z_float

5.0

In [208]:
type(i_z_float)

float

In [209]:
# float to int
int_f = int(f)

In [210]:
int_f

-6

In [211]:
type(int_f)

int

In [227]:
# int to bool
z = bool(i)   # True(=1 or any value other than 0)/False(=0)

In [228]:
z

False

In [229]:
type(z)

bool

In [234]:
# bool to int
z = int(b)

In [235]:
z

1

In [240]:
z = bool(0.000000000000001) # 0 or 0.0 --> False

In [241]:
z

True

In [249]:
# str to int
str_data = "123"
int_data = int(str_data)

In [250]:
int_data

123

In [251]:
str_data

'123'

In [255]:
# int to str
int_data = 456
str_data = str(int_data)

In [256]:
str_data

'456'

In [257]:
int_data

456

In [258]:
int_data + 1

457

In [261]:
# float to str
fx = -123.56
str_fx = str(fx)

In [262]:
str_fx

'-123.56'

In [263]:
# str to float
str_fx = "-123.456"
fx = float(str_fx)

In [264]:
fx

-123.456

In [271]:
# str to bool
str_data = "abc"  # ""
bool_data = bool(str_data)

In [272]:
bool_data

True

In [273]:
# bool to str
bool_data = True
str_data = str(bool_data)

In [274]:
str_data

'True'

In [285]:
# list to set (and vice versa)
l = ["a", 123, "abcd", 321, -4.5, 123, "ABCD"]
set_l = set(l)

In [299]:
set_l

{-4.5, 123, 321, 'ABCD', 'a', 'abcd'}

In [287]:
l_list = list(set_l) 
# I was expecting -> set to list -> order will remain same
# BUT IT CHANGED

In [288]:
l_list

[321, 'ABCD', 'a', 'abcd', 123, -4.5]

In [289]:
# tuple to set (and vice versa)
t_data = ("a", 123, "abcd", 321, -4.5, 123, "ABCD")
s_data = set(t_data)

In [290]:
s_data

{-4.5, 123, 321, 'ABCD', 'a', 'abcd'}

In [291]:
tup_data = tuple(s_data)

In [292]:
tup_data

(321, 'ABCD', 'a', 'abcd', 123, -4.5)

In [293]:
# list to tuple (and vice versa)
t_data = ("a", 123, "abcd", 321, -4.5, 123, "ABCD")
l_data = list(t_data)

In [294]:
l_data

['a', 123, 'abcd', 321, -4.5, 123, 'ABCD']

In [295]:
tup_data = tuple(l_data)

In [296]:
tup_data

('a', 123, 'abcd', 321, -4.5, 123, 'ABCD')

In [300]:
# str to list (and vice_versa)
str_data = "abcdefg"
l_data = list(str_data)

In [301]:
l_data

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [302]:
s_data = str(l_data)

In [303]:
s_data

"['a', 'b', 'c', 'd', 'e', 'f', 'g']"

In [304]:
"".join(l_data)  # Standard way of converting list to str

'abcdefg'

In [305]:
list(s_data)

['[',
 "'",
 'a',
 "'",
 ',',
 ' ',
 "'",
 'b',
 "'",
 ',',
 ' ',
 "'",
 'c',
 "'",
 ',',
 ' ',
 "'",
 'd',
 "'",
 ',',
 ' ',
 "'",
 'e',
 "'",
 ',',
 ' ',
 "'",
 'f',
 "'",
 ',',
 ' ',
 "'",
 'g',
 "'",
 ']']