User code (your python file)
Python module (python interpreter)
C
(Gcc compiler -> many compilers)
Hardware Instructions (binary interpretations)
Kernel
OS (as per requirement)

In [2]:
# Virat Kohli, Captain, 183  # data

In [ ]:
1 way of presenting. the data:- (repr)
Virat Kohli, Captain, 183

2 way of presenting the data:- (str)
Virat Kohli is the Captain of the Indian Cricket Team. His ODI best is 183

In [ ]:
Everything in Python is an object

every object -> 2 representations
  str (mandatory, pretty display of the data)
  repr (optional, minimalistic representation for debugging purposes -> log something)


Python program running -> UI (application) 
Clicks a button -> o/p tell me about Virat Kohli
Return the str presentation for data

Click button --> line of code in your program (save repr in a DB) -> 
                                   helps you to debug -> o/p str reprsentation
    
# Debug -> Code output or behaviour is different than expected

In [ ]:
2D Point

P 5 -3 # debug notation -> repr
P(5, -3) # mathematical notation -> str

In [4]:
# set -> list
d = {12, "abc", 45, "ABC", -4}

In [6]:
l_d = list(d)

In [7]:
l_d

[-4, 'ABC', 12, 45, 'abc']

In [8]:
l_dd = [*d]

In [9]:
l_dd

[-4, 'ABC', 12, 45, 'abc']

In [10]:
d # repr representation of set d
# repr -> sorted representation of the set

{-4, 12, 45, 'ABC', 'abc'}

In [11]:
print(d) # str representation of set d

{-4, 'ABC', 12, 45, 'abc'}

In [12]:
ord("A") # ord is ordinal -> python convert any char to a number

65

In [14]:
ord("B") # char to int conversion is called an encoding, ASCII encoding

66

In [13]:
ord("a")

97

In [15]:
ord("b")

98

In [17]:
ord("1")

49

In [18]:
l = [123, "asd", -2.3, 12, "dnajd"]

In [19]:
l

[123, 'asd', -2.3, 12, 'dnajd']

In [20]:
print(l)

[123, 'asd', -2.3, 12, 'dnajd']

In [ ]:
ASCII encoding:-

In [ ]:
Computers understand only binary (0, 1) -> int to binary -> 
                            every char needs to be a assigned a unique int value

x = "a" # (=97)
y = "c"
Memory
id(x) --> value 97 -> 1100001
id(y) --> value 99 -> ....

In [22]:
ord("&")

38

In [23]:
# literal
id(97), id("a")   # "97" --> binary (57) next byte binary(55)
                  # "a" --> binary(97)

(140373567800688, 140373571334768)

Operators:-

In [ ]:
Arithmetic Operators are + - * / % // **

In [25]:
x = 3
x+2

5

In [26]:
x - 10

-7

In [27]:
x * 4

12

In [28]:
x = 13

In [29]:
x/4

3.25

In [30]:
x // 4  # quotient

3

In [31]:
2 ** 3 # a**m --> multiplying a (m times) -> a * a * a ... mtimes

8

In [33]:
x%2  # remainder

1

In [32]:
f = 12.3

In [34]:
f + 2, f - 2, f * 2

(14.3, 10.3, 24.6)

In [35]:
f % 2   # before decimal is taken and mod is applied on that

0.3000000000000007

In [36]:
f / 2

6.15

In [37]:
f // 2  # quotient

6.0

In [38]:
f ** 2

151.29000000000002

In [39]:
x = True # 1 is default
x = False # 0 is default

In [40]:
x + 1

2

In [42]:
bool(15) == True

True

In [43]:
x = 2 # assignment
x == 3 # comparison

False

In [ ]:
Extending arithmetic operations
+= -= *= /= %= //=  **= (compound operations)

In [44]:
x = 25

In [45]:
x += 3   # x + 3 then assign it to x -> x = x + 3
x

28

In [46]:
x *= 4 
x

112

In [47]:
x /= 3

In [48]:
x

37.333333333333336

In [49]:
x = 112

In [50]:
x //= 3   # when you do a//b -> quotient and when you do a/b -> fractional quotient

In [56]:
# 12/5, 12//5

(2.4, 2)

In [51]:
x

37

In [52]:
x %= 5

In [53]:
x

2

In [54]:
x **= 3

In [55]:
x

8

Logical Operators:-

In [ ]:
and && 
or || 
not 

compound conditions
inside if else, for and while loops

In [ ]:
age = 24
gender = "male"

task :- if the person is eligible to vote and gender is male -> booth 1
        if the person is eligible to vote and gender is female -> booth 2
        if the person is not elgibile to vote -> return
    
age >= 18 && gender == "male" 
age >= 18 and gender == "female"
age < 18  # not age >= 18

Relational Operators:-

In [ ]:
> < >= <= == !=

In [57]:
x = 34
x > 24

True

In [ ]:
age = 24
gender = "male"

age >= 18 && gender == "male"
24 >= 18 && "male" == "male"
True && True
True  -> Condition satisfied

Truth Tables for AND, OR, NOT:-
AND (multiplication):-
True && True --> True
True && False --> False
False && True --> False
False && False --> False

OR (addition):-
True || True --> True
True || False --> True
False || True --> True
False || False --> False

Not (negation):-
not True --> False
not False --> True

# ECE fundamentals
True = 1
False = 0

Every 1 bit -> is actually operated by "flip-flop"
addition to power

Identity, Membership Operators

In [60]:
l = [1, 2, 3]
l2 = l
t = tuple(l)

In [ ]:
Identity operators -> is, is not
Applied on sequence types and object (user defined objects)

In [59]:
l is l2

True

In [61]:
t is l

False

In [62]:
l is not l2

False

In [63]:
l is not t

True

In [64]:
x = 1
y = 1

# x and y point to the same memory location that holds the value 1
# x and y are references to the memory location that holds the value 1

In [65]:
x is y

True

In [66]:
id(x), id(y)

(140373567609136, 140373567609136)

In [67]:
x = 1234321
y = 1234321 

# x and y hold the same random value which is greater than 1M, x is y?
# x and y hold  123, x is y? -> stupid qn -> depends 


x is y

False

In [68]:
id(x), id(y)

(140373703424976, 140373703425232)

In [69]:
# Difference between is and ==
l = [1, 2, 3]
l2 = l

l is l2 # memory locations are compared

True

In [70]:
l == [1, 2, 3] # values are compared

True

In [73]:
l3 = [1] + [2] + [3]
l3

[1, 2, 3]

In [74]:
l is l3

False

In [75]:
l == l3

True

In [ ]:
Warning V/s Error
* Warning will pop up, deliver a msg and stay silent
* Never halt your program

In [77]:
print("i" is "i")  # --> Warning
x = 23
print(x)
# "i" == "i" #

True
23

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/wx/bxxcv1hd2fn6pgpvlymttc680000gn/T/ipykernel_83261/2634628893.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("i" is "i")  # --> Warning

In [ ]:
Membership operators are in and not in
* Sequenence types -> test membership

In [78]:
l

[1, 2, 3]

In [79]:
1 in l

True

In [80]:
4 not in l

True

In [81]:
3 not in l

False

In [82]:
msg = "Virat Kohli is the Captain of the Indian Cricket Team. His ODI best is 183"
"virat" in msg

False

In [83]:
"Virat" in msg

True

Bitwise Operators:-

In [ ]:
AND &
OR |
not ~
<<
>>

In [ ]:
bitwise operators
   only work with binary values
3 & 5 --> binary repr of 3 & binary repr of 5

In [ ]:
      16 8 4 2 1  
13 ->  0 1 1 0 1
21 ->  1 0 1 0 1

2's complement:-
* Used to represent negative numbers in binary form
-3 ? -011 => NONO

Steps:-
1. first forget the minus sign
2. Convert the value to its binary form
3. Flip each bit (0->1) and (1->0)
4. Add a 1 to the result (in its RMB -> least significant bit i.e rightmost)

x = -17
17 --> 10001 # step 2
       01110 # step 3
       01111 # step 4

x = -22
22 --> 10110
       01001
       01010
       
       
01001
    1
01010  # result

In [ ]:
4 bytes -> 32 bits
           1[0...]01010
           1 = negative    0 = positive
        
-22 -> 10000000 00000000 00000000 00001010
10 --> 00000000 00000000 00000000 00001010

In [ ]:
Truth table for addition
1 + 0 = 1
0 + 1 = 1
0 + 0 = 0
1 + 1 = 0 (carry with a 1 to its left)

In [ ]:
&, |, ~, <<, >> they operate only on bits
&, |, <<, >>   requires 2 operands
~  require only 1 operand

In [84]:
3 & 5 # 011 & 101
# 011
# 101
# ---
# 001 # 1

1

In [87]:
x = 13 & 25
# 01101
# 11001
# -----
# 01001 --> 9

In [88]:
x

9

In [86]:
-17 & 12

12

In [89]:
4 | 7

7

In [90]:
-12 | 123

-1

In [92]:
~4
#100
#011 -> 100 -> 101

-5

In [93]:
~123

-124

In [94]:
~12345 # f(x) = -1*(x+1)

-12346

In [96]:
x = 10
# 00000000 00000000 00000000 00001010
x << 1 # left shift 
# 01010
# 10100 # 16+ 4 -> 20
# mathematically -> value * 2

20

In [97]:
x = 25
x << 1

50

In [98]:
x << 2

100

In [101]:
y = x << 1
z = x * 2
z == y

True

In [102]:
x = 25
x >> 1 # rightshift -> value/2

12

In [103]:
x = 34
x >> 1

17

In [104]:
x >> 2

8

In [105]:
y = x >> 1

In [106]:
x, y

(34, 17)

In [ ]:
Round robin scheduling algorithm:-

Safari 12 MB  -> 9 -> 6 -> 3 -> completed
Terminal 20 MB -> 17 -> 14 -> 11 -> 8 -> 5 ..
Pycharm 4 MB -> 1 -> completed

Round robin (stepsize= 3 MB)