In [1]:
# PBV & PBR:-

In [7]:
def f(value):
    print(id(value))
    value += 1
    print(id(value))
    print(value)
    
a = 321 # int, float, bool -> PBV
print(id(a))
print(a)
f(a)
print(a)

140667459018640
321
140667459018640
140667459015408
322
321

In [8]:
# C1
def f(value):
    print(id(value))
    value.append(25)
    print(id(value))
    print(value)
    
a = [1, 10, 30, 12]  # sequence types - PBR
print(id(a))
print(a)
f(a) #.copy()) # PBR by default | PBV - a.copy(), list(a), a[:]
print(a)

140667478246528
[1, 10, 30, 12]
140667478246528
140667478246528
[1, 10, 30, 12, 25]
[1, 10, 30, 12, 25]

In [9]:
# C2
def f(value):
    print(id(value))
    value = value + (10, 20)
    print(id(value))
    print(value)
    
a = (1, 10, 30, 12)  # sequence types - PBR
print(id(a))
print(a)
f(a)
print(a)

140667459192608
(1, 10, 30, 12)
140667459192608
140667458787840
(1, 10, 30, 12, 10, 20)
(1, 10, 30, 12)

In [ ]:
PBR:-
Categories
C1: list, set, dict -> modify in function -> change is reflected to GV
    * How to PBV?
       list - a.copy(), list(a), a[:]
       set - a.copy(), set(a)
       dict - a.copy(), dict(a)
C2: tuple, str -> modify in function -> change is not reflected to GV

In [10]:
# Analogy for PBV, PBR without functions
a = 10
b = a # PBV
# print(id(b))
# b += 1
# print(id(b))
# ---
l = [1, 2, 3]
l2 = l # PBR - C1
# ----
t = (10, 20, 30)
t2 = t # PBR - C2

140667349244496
140667349244528

In [ ]:
Applications:-
* PBV (int, float, bool) -> use and move on
* PBR
    C1: 
    * adding a new user info (sign up) -> add_user(user_info)
    C1 (PBV):
    * 1M users, filter by geographic loc (J&K) # state=JnK, lat, long
        user_info -> PBV -> remove any non-JnK records -> return remdata
#         task 2: update this jnk_users
#         create a subset of data
    * list of 1000 (~25 prime) ints, remove any prime numbers
    # freq of remove operation (25 ops) <<< add operation (975 ops)

In [11]:
# Keyword arguments:-

In [18]:
def relation(x, y):
    res1 = x**y
    res2 = y**x
    return res1 >= res2

a = 2
b = 5
res1 = relation(a, b) # Order matters
print(res1)
res1 = relation(x=a, y=b) # Order doesnt matters
print(res1)
res1 = relation(y=b, x=a) # Order doesnt matters
print(res1)
# print(x) # UHHH

True
True
True

In [ ]:
# hello <var1> from <var2> welcome to my app
# s = "hello %s from %s welcome to my app" % (var1, var2)
# print(s)

In [20]:
# Default arguments:-

# * For any argument we can assign default values
def data(name, nationality="Indian"):
    print("hello %s from %s" % (name, nationality))

data("Virat")
data("Dhoni", "Indian")
data("Chahal", "Australian")
data(nationality="Australian", name="Warner")
data(name="Yuvi")

hello Virat from Indian
hello Dhoni from Indian
hello Chahal from Australian
hello Warner from Australian
hello Yuvi from Indian

In [21]:
# data(nationality="Aussie") # o/p -> error
data(nationality="NZ", "Kane") # error -> 
# Rule: default args always come last,
# you cannot have a positional arg after a default arg
# applies: calling and while declaring the function

SyntaxError: positional argument follows keyword argument (1611676243.py, line 2)

In [22]:
data("Kane", nationality="NZ")

hello Kane from NZ

In [34]:
def msg(name, role, nationality="Indian"):
    s = "Hi %s from %s. Your role is %s" % (name, nationality, role)
    print(s)
    
msg("Virat", "Skipper")
msg("Virat", role="Skipper")
msg("Virat", "Skipper", "Indian")
msg(nationality="Indian", name="Virat", role="Skipper")
msg(role="Skipper", nationality="Indian", name="Virat")
msg("Virat", "Skipper", "IND")
msg(name="ind", role="skipper", nationality="Indian")

Hi Virat from Indian. Your role is Skipper
Hi Virat from Indian. Your role is Skipper
Hi Virat from Indian. Your role is Skipper
Hi Virat from Indian. Your role is Skipper
Hi Virat from Indian. Your role is Skipper
Hi Virat from IND. Your role is Skipper
Hi ind from Indian. Your role is skipper

In [ ]:
# Functions - Outside of scope
# nested functions
# function returning function
# parallelizing function calls
    * 1M users, you want to process each user and give them % completion
       f() -> it does this
       for each user f() works independently
       parallelization -> batch=128 (in parallel), next batch
       Multithreading # 1ms/user -> 0.001s -> 1M -> 1000s ~ 16 mins
    * Take a vaccine shot, update the DB

In [35]:
Space Complexity:-
* Amount of memory a function or program can take
* Worst case space complexity = SC
* It is also defined in terms of a math function and a variable
  O(1), O(n), O(n**2), ...

In [ ]:
n = 100
a = list(range(0, n)) # SC = O(n)
# print(a)

In [36]:
n = 100
a = list(range(0, n)) # SC = O(n)
b = list(range(0, n)) # SC = O(n)

# SC = O(2*n) = O(n)

In [ ]:
n = 100
res = [] # len = O(n), each element in res = O(n)
for i in range(n):
    res.append(list(range(0, n)))

# SC = O(n**2)
# TC = O(n)

In [ ]:
Code a soln -> TC, SC
TC is good, SC = good 
    * next problem
    * take more time, try to reduce the SC (coding a ML model that runs on phone)
TC is good, SC = bad (prog is failing for larger data w.r.t memory)
    * optimize SC
TC is bad, SC = good
    * you can inc SC, to reduce TC (99% use cases)
TC is bad, SC = bad
    * you need to improve both (soln is unacceptable)

In [37]:
ord("a")

97

In [ ]:
# "foobar" * 2
# "foobarfoobar"

In [42]:
a = (2, 5)
b = (10, 20)
a, b = b, a
print(a, b)

(10, 20) (2, 5)

In [40]:
# Assignment 2:-

In [45]:
l = [(2, 5), (1, 2), (4, 4), (3,1), (2, 3), (2, 1)]
# [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# A1
for i in range(len(l)):
    for j in range(len(l)):
        a = l[i]
        b = l[j]
        if b[-1] > a[-1]:
            l[i], l[j] = l[j], l[i]

print(l)

[(3, 1), (2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [53]:
l = [(2, 5), (1, 2), (4, 4), (3,1), (2, 3), (2, 1)]
# [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# A2
for i in range(len(l)):
    for j in range(i, len(l)):
        a = l[i]
        b = l[j]
        if b[-1] < a[-1]:
            l[i], l[j] = l[j], l[i]

print(l) # O(n**2)

[(3, 1), (2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [54]:
l = [(2, 5), (1, 2), (4, 4), (3,1), (2, 3), (2, 1)]
# l_last = [5, 2, 4 ,1, 3, 1]
# [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# A3
def custom_sort(value):
    return value[-1] 

# if value >= 5: return value - 5
# else: return 5 - value

l.sort(key=custom_sort)

print(l) # O(nlogn) # O(nloglogn) - sorts available

[(3, 1), (2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [48]:
l = [1, 123, 12, -1, 13, 1]

for i in range(len(l)):
    for j in range(len(l)):
        if l[j] > l[i]:
            l[j], l[i] = l[i], l[j]
        
print(l)

[-1, 1, 1, 12, 13, 123]

In [56]:
ord('a'), ord('z')

(97, 122)

In [57]:
res = {chr(i):i for i in range(97, 123)}
res

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}