In [ ]:
# jupyter notebook

In [ ]:
x = 12.56
y = 6.8

In [ ]:
y

In [ ]:
y

In [ ]:
t = y*y

In [ ]:
z*2

In [ ]:
z = (x-y+t)/2

# What are Datatypes:-

I'm going to clean the data in the next steps
* lower case (A->a)
* remove extra spaces 
ghjjhgjhgjkhgkjh
7/

In [ ]:
x = 4

In [ ]:
# this is hashtag but not raw nb convert

In [ ]:
x

In [1]:
x = 4

In [2]:
x = 10

In [3]:
y = 2*x

In [4]:
y

20

In [ ]:
# 1 -> 4 -> 6 -> 7
# Meaning
x = 4
x = 10
y = 2*x
y

In [ ]:
# Combining them, what happens?

x = 4
y = 2*x
y
x = 10

In [ ]:
y

In [5]:
# Meaning, asdasds 2/0

# code to computer whether a given no. is prime or not
# x is the given value
x = 12

# Datatypes:-

In [ ]:
Every data has a type

age -> number 
height -> decimal value
pie (=22/7) -> fraction
name -> alphabets

Are you in the legal age to vote? -> True/False  (Boolean -> True or False)

100 students

rollno all 100 students
a = 123
b = 124
c = 125 ... 100 students

python -> sequence data types -> to store multiple values together
collection of all 100 roll nos --> a (will store all rollno's)

In [7]:
x = 1000000

numeric -> integer, float, complex numbers
bool (true=1/false=0)
sequence -> list, tuple, string

In [ ]:
"@", "ritesh", "!@#$%^&*()"

In [10]:
256*256

65536

In [ ]:

Image -> 3 channels (RGB) --> Every channel holds 256*256 (int values)
256*256*3 -> int values (image in computer) 

Video -> 10 frames -> 10 images ->

In [6]:
256*256*3
256*256*3*10

196608

In [ ]:
sequence of phenoms

basic unit of int values (pitch=100, volume=75, sharpness=0.1)
100 -> 300 int values -> sequence of int

In [ ]:
name1 = "pranil"
name2 = "virat"
name3 = "dhoni"
...
name100

all_names (sequence type) -> all 100 names

In [11]:
x = "python@3"
y = 'python@3'

x == y

True

In [9]:
x

'python@3'

string (sequence type)
Kohli has been the recipient of many awards– most notably the Sir Garfield Sobers Trophy (ICC Men's Cricketer of the Decade): 2011–2020; Sir Garfield Sobers Trophy (ICC Cricketer of the Year) in 2017 and 2018; ICC Test Player of the Year (2018); ICC ODI Player of the Year (2012, 2017, 2018) and Wisden Leading Cricketer in the World (2016, 2017 and 2018).[7] At the national level, he was awarded the Arjuna Award in 2013, the Padma Shri under the sports category in 2017[8] and the Rajiv Gandhi Khel Ratna award, the highest sporting honour in India, in 2018.[9] He is ranked as one of the world's most famous athletes by ESPN[10] and one of the most valuable athlete brands by Forbes.[11] In 2018, Time magazine named him one of the 100 most influential people in the world.[12] In 2020, he was ranked 66th in Forbes list of the top 100 highest-paid athletes in the world for the year 2020 with estimated earnings of over $26 million.[13]

In [ ]:
csv file -> rows, cols

2 rows, 3 cols
col1 -> name
col2 -> rollno
col3 -> height

6 values -> sequence

In [ ]:
1, 2, 3
4, 5, 6
7, 8, 9

9 values -> sequence of integers

In [ ]:
integer int
floating/double/decimal float
boolean bool
sequence -> list, tuple, str

In [ ]:
# How to check the type of any variable?
type(variable_name)

In [15]:
x = 5

In [16]:
type(x)

int

In [17]:
y = -3.7

In [18]:
type(y)

float

In [25]:
z = "hello class"

In [26]:
type(z)

str

In [28]:
result = True
# result = true  # not bool

In [29]:
type(result)

bool

In [23]:
bad_result = False

In [24]:
type(bad_result)

bool

int 

What values it can hold ==> -inf to inf all integers => -313, 0, 10000067

float

What values it can hold ==> -inf to inf all decimal => -10.97, 0.0, 123.4567890

In [ ]:
bool -> True, False

In [52]:
x = 0
type(x)

int

In [ ]:
str -> sequence -> infinite number of characters

In [32]:
x = "hello class asdasdasdasdasdadadsdadadasdasdasdasdasdasdasdadadadasdasdas"

In [33]:
x

'hello class asdasdasdasdasdadadsdadadasdasdasdasdasdasdasdadadadasdasdas'

In [ ]:
list 

sequence  -> inf no. of values
square brackets []

In [36]:
names = ["virat", "kohli", "dhoni", "chahal", "chahar"]

In [37]:
names

['virat', 'kohli', 'dhoni', 'chahal', 'chahar']

In [45]:
type(names)

list

In [ ]:
tuple

sequence -> inf no. of values
repr -> round brackets/paranthesis -> ()
or 
avoid ()

In [50]:
tuple1 = ("virat", "kohli", "rashid", "dhoni", "chahal", "chahar", "shreyas")

In [51]:
tuple1

('virat', 'kohli', 'rashid', 'dhoni', 'chahal', 'chahar', 'shreyas')

In [42]:
tuple2 = "virat", "kohli", "dhoni", "chahal", "chahar", "shreyas"

In [43]:
tuple2

('virat', 'kohli', 'dhoni', 'chahal', 'chahar', 'shreyas')

In [44]:
type(tuple2)

tuple

In [57]:
gender = "male", "female"
type(gender)

tuple

In [54]:
response = "yes"
type(response)

str

In [56]:
# response = yes

In [67]:
data = ["virat", "kohli", 200, 183, 560.5, "05-11-1983"]

In [68]:
type(data)

list

In [69]:
data

['virat', 'kohli', 200, 183, 560.5, '05-11-1983']