Built in functions:-

In [1]:
import math

In [3]:
math.floor(3.2), math.ceil(3.2)

(3, 4)

In [6]:
math.floor(3)

3

In [8]:
sum([1, 2, 3])

6

In [9]:
sum((1,2,3))

6

In [11]:
sum({1: "one", 2: "two"}.keys()) # dict_keys

3

In [13]:
sum({"one": 1, "two": 2}.values()) # dict_values

3

In [17]:
# sum({1: "one", 2: "two"}.items())

any, all:-

In [18]:
l = [True, False, True]
all(l) # return T if all elements in the sequence l are T, else F

False

In [19]:
l = [True, True, True]
all(l) # return T if all elements in the sequence l are T, else F

True

In [20]:
l = [False, True, False]
any(l) # return T if atleast one element in the sequence l is T, else F

True

In [21]:
l = [False, False, False]
any(l) # return T if atleast one element in the sequence l is T, else F

False

In [23]:
# Example:-
# all -> see if all people are above 18 yrs of age
# any -> see if there is atleast one adult

ages = [13, 12, 52, 13, 31, 123]
res = [x>=18 for x in ages]
all(res), any(res)

(False, True)

type, isinstance:-

In [25]:
type(4), type(3.4), type([]), type({}), type(set())

(int, float, list, dict, set)

In [ ]:
# input a numeric value: int, float

x <- 4 or 4.5
if type(x) == 'int' or type(x) == 'float': # BAD
    ...
(OR)
if type(x) in ['int', 'float']: # BAD 

isinstance(x, (int, float)) # GOOD

In [28]:
x = "4.0"
isinstance(x, (int, float))

False

In [ ]:
isinstance(x, Pet) # isinstance(x, Dog) true for both

isinstance(x, Dog) # isinstance(x, Pet) - NO

Lambda Functions:-

In [ ]:
* Lambda functions are inspiration from the field of Lambda calculus
    * Alonzo Church
* Lambda functions are features -> Python, Java
  * Few prog lang like Haskell -> Lambda functions
* They are used in very particular situations

In [ ]:
* LF -> Lambda expressions, Anonymous Functions
* These are functions without a name # (def mean(...))
* They are generally used to perform simple, atomic ops
* They are one liner functions
* They are stateless

Do's:-
* One-liners only
* LFs should atleast have 2 parameters or sufficient operation to be done on 1 parameter

Dont's:-
* Never assign lambda function to any variable
* Never use LFs as wrapper over pre-defined functions

In [29]:
def square(v):
#     print(id(v))
    return v**2

In [32]:
square

In [30]:
square(5)

25

In [31]:
lambda x: x**2 
# lambda keyword
# x -> Bound variable(s)
# x**2 -> Body of the LF

In [33]:
sq = lambda x: x**2 # Never do this, just for demonstration

In [34]:
sq

In [43]:
res = (lambda z: z**2)(5)
res

25

In [40]:
sq(5)

25

In [41]:
z

NameError: name 'z' is not defined

In [45]:
f = lambda x, y: x**2 + y**2 # multiple variables
f(3, 5)

34

In [52]:
(lambda x, y: x**2 + y**2) (3,5)

34

In [49]:
f = lambda *args: sum(args)/len(args) # packing
f(1, 2, 3, 4, 5, 6)

3.5

In [51]:
f = lambda l: len(l)*2 # list, tuple, set, dict, str
# f([1, 2, 3])
# f({1:"one", 2: "two"})
f("hi how are you")

28

In [50]:
f = lambda **d: sum(d.values())/len(d)
f(one=1, two=2, three=3)

2.0

In [54]:
(lambda **d: sum(d.values())/len(d)) (one=1, two=2, three=3)

2.0

In [53]:
def mean(**d):
    return sum(d.values())/len(d)

mean(one=1, two=2, three=3)

2.0

In [56]:
cond_lf = lambda x, y: "even" if (x+y)%2 == 0 else "odd"
op = cond_lf(3, 4)
print(op)

odd

In [57]:
def_lf = lambda x, y, z=3: x*2+y*3+z*4
def_lf(1, 2, 10) # z = 10

48

In [58]:
def_lf(1, 2) # z=3

20

In [59]:
def fun(value):
    x = value**2
    if x%5 < 3:
        return 25
    else:
        return 10

t = lambda x, my_fun: x + my_fun(x) # 7 + fun(7)
t(7, fun)

17

In [61]:
# BAD PRACTICE
t = lambda x: abs(x)
t(-5), abs(-5)

(5, 5)

In [63]:
(lambda x: x/(x-2))(2)

ZeroDivisionError: division by zero

In [ ]:
z = 25
res = (lambda x: x**2)(z) # res = z**2

In [ ]:
Advantages:-
* Saves time and memory
* Crisp code (because its one liner) -> Less code less errors

Disadvantages:-
* Not reusable
* One liner only
* Not easy to debug

In [ ]:
map function:-
* map -> perform an operation on every item of the iterable
* Almost always map -> lambda functions
* map op is a map object (a form of iterable)

In [64]:
l = [1, 2, 1, 21, 13, 16]
sq_l = [x**2 for x in l] # its difficult to nest list comprehension operations
sq_l

[1, 4, 1, 441, 169, 256]

In [65]:
r = map(lambda x: x**2, l) # map(lambda function, iterable)

In [67]:
type(r), r

(map, <map at 0x7fb628357df0>)

In [68]:
list(r)

[1, 4, 1, 441, 169, 256]

In [74]:
print("hi")

hi

In [75]:
x = print # x = map
x("hi") # x(lf, l) # NO

hi

In [71]:
l = [-1, 2, 1, -21, 13, -16]
r = map(abs, l) # map(function, iterable)
# map(lambda x: abs(x), l) -> NO NO

In [72]:
list(r)

[1, 2, 1, 21, 13, 16]

In [73]:
r = map(fun, l)
list(r)

[25, 10, 25, 25, 10, 25]

In [ ]:
Use cases of map:
1. map -> LF
    * It is limited by the lambda expression
2. map -> predefined/userdefined function
    * for ..
        op = fun()
        r.append(op)

In [76]:
list(map(fun, l))

[25, 10, 25, 25, 10, 25]

In [81]:
# list -> fun1 -> fun2
def fun1(v):
    return v*2

def fun2(w):
    return w**2

l = [-1, 2, 1, -21, 13, -16]
x = [fun1(v) for v in l]
y = [fun2(w) for w in x]
print(x)
print(y)

[-2, 4, 2, -42, 26, -32]
[4, 16, 4, 1764, 676, 1024]

In [82]:
# Advise: always code map inner -> outer (and so does the execution)
y2 = list(map(fun2, map(fun1, l)))
# map(fun1, l) -> map(fun2, map_x)
y2

[4, 16, 4, 1764, 676, 1024]

In [84]:
list(map(fun1, range(7)))

[0, 2, 4, 6, 8, 10, 12]

In [ ]:
# filter 
# map -> filter -> map -> filter

In [ ]:
# if isinstance(.., (...)):
#     ...
# else:
#     ...

In [88]:
l = [(1, 2), (3,1), (10, 5)]

def last_element(x):
    return x[-1]

l.sort(key = lambda x: x[-1]) # circular sort around 5
# l.sort(key=last_element)

In [89]:
l

[(3, 1), (1, 2), (10, 5)]

In [ ]:
is_prime -> T/F
l = [...]
res = list(map(is_prime, l))

In [ ]:
# task:

In [90]:
# '', ""
msg = 'My name is "Virat"'
msg

'My name is "Virat"'

In [92]:
def t(l):
    return [fun1(v) for v in l]

x = [-1, 2, 1, -21, 13, -16]
t(x)

[-2, 4, 2, -42, 26, -32]

In [93]:
x = [input("Enter a number:") for i in range(3)]
print(x)

Enter a number:10
Enter a number:-10
Enter a number:14
['10', '-10', '14']