In [ ]:
Loops:- What and why

In [ ]:
What are they:-
* Repeat a task n>1 times -> loop
* Same block of code -> n times
* Iteration:- Every run of a loop
* With every iteration it checks a given condition/criteria

Real World Example:-
25 players -> eligible players -> Covid Test

repeating the test for n=25 times
repeat the test on a player only "if he is available in the stadium" (criteria)

In [ ]:
Why:-
* Reduces code
* Gives you run different flows for different iteration
Example:-
100 numbers
even numbers -> task1
odd numbers -> task2
task3 -> even or odd

for loop:
    if value is even:
        task1
    else: # Ctrl + /
        task2
    task3
# Bad alternative
for loop for 50 even numbers -> :
    task1
    task3
    
for loop for 50 odd numbers -> :
    task2
    task3

In [ ]:
Loops in Prog Langs:-
* Earlier prog langs - for, while, do-while
* Python - for, while

In [1]:
For loop:-
    
for iterator in list_of_values:
    block of code
    ....

adasdad -> not a part of the loop
    sdasdsad -> Error

SyntaxError: invalid syntax (2877224860.py, line 1)

In [8]:
list_of_values = "virat", "dhoni", "chahar", "rasheed"

i = "deepak"
for i in list_of_values:
    print(i)
    # .....
i = "deepak"

virat
dhoni
chahar
rasheed

In [10]:
i.upper()

'DEEPAK'

In [11]:
For loop -> Real world example

for candidate <- EdYoda (120)
    place the candidate -> nice company

finish line

SyntaxError: invalid syntax (3435311993.py, line 1)

In [ ]:
for candidate <- EdYoda (120)
    if candidate_certified():
        place the candidate -> nice company
    else:
        train the candidate

finish line

In [ ]:
while loop

while <cond>:
    do something

In [ ]:
Real world example

 
while EdYoda (120):- 
    take the candidate
    place the candidate -> nice company

finish line

In [13]:
list_of_values = ["virat", "dhoni", "chahar", "rasheed"]

while list_of_values:
    x = list_of_values.pop(0) # take the first value of the list
    print(x)

# ["virat", "dhoni", "chahar", "rasheed"]
# ["dhoni", "chahar", "rasheed"]
# ["chahar", "rasheed"]
# ["rasheed"]
# []

virat
dhoni
chahar
rasheed

In [14]:
x.upper()

'RASHEED'

In [ ]:
Rule of thumb:-
* Whatever you can do with for <==> while

In [ ]:
for = while
do-while 

do:
    task
while cond

Real world example:-

Start a new business

do:
    Run the business for 1 day
while check_if_we_made_profit()


Why Python discarded do-while loop????
# dowhile as python while
task
while cond:
    task # (100 lines -> function)

In [ ]:
for >>>> while

3 applications -> chrome, pycharm, terminal

chrome got stuck -> uhhh

while True:
    give memory to each application
    
------------------------------

alarm -> 5 am
for i in time:
    if i == "5:00:00": # n milliseconds -> 1 exact millisecond True and n-1 milliseconds False
        wakemeup
    
while True:
    check_and_wakemeup() --> Active ->> not hogging cpu
    
------------------------------

CSE example:-
Send email at a particular time -> 12:00 am my manager --> logging off
while loops

CRON JOBS (bash) # time at which run them automatically

In [ ]:
# when to use if, if-else, if-elif-else ladder?

# Application of if
Solve a problem
1 criteria -> if the criteria is satsfied -> do something -> then go on with your rest of the code

block_of_code1 (var)
if var is satisfying some cond:
    do something
block_of_code2



# Application of if-else
Solve a problem
2 choices -> if result1 -> do something -> 
             else result2 -> do something else
    then go on with your rest of the code

block_of_code1 (var)
if var is satisfying some cond:
    do something
else:
    do something else
block_of_code2


Rule of thumb:-
* Stop where you are 
* Analyse your choices, analyse the action (block of code) you have to do for each choice
* Once you have complete clarity, then only code

In [ ]:
# Example where while is better choice than for loop

def task():
    # processing 1.5 million records ....
    # returns the result in batches of 64 records [0-63] [64-127] [...]

# outer code # condition -> bool
while True: # infinite loop
    task_result = task() # 1500000/64 
    if the player is indian: # takes care of the whole batch
        break # immediately stop the loop and go to outer code
    Do_something

<rest_of_the_outer_code>        
        
ON CPU:-
task -> runnning
outer code (while) -> running


For loop;-
# What do we iterate on here? -> task_result 
# for True: # syntax error
for iterator in ??:
    
values = [1, 2, ..., 1500000] # BAD WAY -> you cannot hardcode no. of records --> FB

for iterator in values: # agreed?
    
for ...... atleast a sequence to run the loop over it???
That we dont have.....

In [17]:
# Pre-defined functions (helpful functions):-
# len, help, enumerate, range

data = ["virat", "dhoni", "chahar", "rasheed"]
len(data) # sequence type  # Shift+Tab

4

In [18]:
?len # alternate

In [19]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [76]:
# Indexing --> data[index] --> only for list, tuple, strings
# index needs to be an integer - error otherwise
# Indexing starts from 0
# Assume n elements in data, the last element index will be (n-1)

        # M1 (I1)  M2 (I2)  M3 (I3)   M4 (I4)
data = ("virat", "dhoni", "chahar", "rasheed")
        # 0        1        2           3
print(data[2])
print(data[3])
print(data[1])
print(data[0])

chahar
rasheed
dhoni
virat

In [24]:
str_data = "virat"
print(str_data[0])

v

In [26]:
set_data = {2, 3, 4}
print(set_data[0])

TypeError: 'set' object is not subscriptable

In [28]:
dict_data = {2: "two", 3: "three", 4: "four"}
print(dict_data[0])

KeyError: 0

In [77]:
data

('virat', 'dhoni', 'chahar', 'rasheed')

In [78]:
for t in enumerate(data):
    print(t)

(0, 'virat')
(1, 'dhoni')
(2, 'chahar')
(3, 'rasheed')

In [37]:
# enumerate returns, pairs of (index, data_at_that_index)
# lists, tuple, strings, sets, dictionary

for xyz in enumerate(data):
    index, name = xyz # unpacking sequence data
    print("My index is :", index)
    print("My data is :", name)
#     print(type(t))

My index is : 0
My data is : virat
My index is : 1
My data is : dhoni
My index is : 2
My data is : chahar
My index is : 3
My data is : rasheed

In [ ]:
Unpacking is the way of breaking a sequence type into individual variables

In [35]:
data

('virat', 'dhoni', 'chahar', 'rasheed')

In [36]:
for index, name in enumerate(data): # enumerate + unpack in loop
    print(index, "--->", name)

0 ---> virat
1 ---> dhoni
2 ---> chahar
3 ---> rasheed

In [38]:
# range(integer_value) 
# returns an OBJECT (generator type)
# converted to this
# --> [0, 1, 2, ..., integer_value-1]

In [41]:
list(range(4)) #  -> [0, 1, 2, 3]

[0, 1, 2, 3]

In [43]:
type(range(4))

range

In [44]:
range(4)

range(0, 4)

In [ ]:
Generator types??
What is it:-
* Objects (not sequences, not primitive data types)
* They hold information about the data (they do not hold actual data)

Why do we need it:-
* Save us a lot of memory

In [47]:
# values = [0, 1, 2, ....., 999]
# 28*1000 ~~= 28 MB

range(1000) # gen object -> range(0, 1000) # fixed size ~~ 100 bytes (say)

range(0, 1000)

In [56]:
for i in range(4): # range(0, 4) --> [0, 1, 2, 3] (not all at once) -> iter by iter
    print(i, end = ",")
    
# converting code
# for i in range(0, 4): # gen object
    ...
    
# in this case i holds 1 integer every iteration
# total mem = gen object + iterator i = 100 + 28 = 128 bytes

0,1,2,3,

In [ ]:
for -> range, len, enumerate 

while -> they are not used
while <cond>:

In [57]:
data = ["abc", "def", "ghi", "jkl"]
while len(data):  # non-zero value -> True
    x = data.pop(0)
    print(x)

# while 4:
    ....
# while 3:
    ...
# while 2:
    ...
# while 1:
    ...
# while 0 -> exit the loop

abc
def
ghi
jkl

In [58]:
range(4) # Fixed size

range(0, 4)

In [62]:
vals = list(range(4)) # [0, 1, 2, 3, ..., 999] # 28 MB forcing
print(vals)   # it is done very rarely -> undoing python's optimization

[0, 1, 2, 3]

In [ ]:
# range(...):
# all parameters are integers

Style 1 :- range(value) # [0, 1, 2, ..., value-1]
Style 2 :- range(low, high) # [low, low+1, low+2, ..., high-1]
Style 3 :- range(low, high, stepsize) # stepsize > 0 or stepsize < 0

In [63]:
list(range(3, 6))

[3, 4, 5]

In [64]:
list(range(6, 3))

[]

In [65]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
list(range(1, 11, 2)) # [l, l+2, l+4, ..., ]

[1, 3, 5, 7, 9]

In [67]:
range(1, 11, 2)

range(1, 11, 2)

In [68]:
list(range(2, 40, 2)) # [l, l+2, l+4, ..., ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [69]:
list(range(2, 40, 3)) # [l, l+2, l+4, ..., ]

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38]

In [71]:
list(range(10, 1, -1))  # [high, high-1, high-2, ..., low-(stepsize)]

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [72]:
list(range(10, 1, -2))  # [high, high-1, high-2, ..., low-(stepsize)]

[10, 8, 6, 4, 2]

In [73]:
list(range(1, 10, -1))

[]

In [ ]:
Examples of Loops:-

In [81]:
T = 40
D = "C"
if  (D == "C"): 
    res1 = (T + 273)
    unit1 = "K"
    res2 = ((5*(T-32))/9 + 32)
    unit2 = "F"
    print((res1, unit1), (res2, unit2)) # Error line
else:
    print("Invalid unit provided")

(313, 'K') (36.44444444444444, 'F')

In [102]:
data = ["virat", "dhoni", "rohit sharma", "chahar", "SACHIN"]
# index  0         1           2            3          4

# task 1 - print all the elements in data in upper case
for name in data:
    print(name.upper())

VIRAT
DHONI
ROHIT SHARMA
CHAHAR
SACHIN

In [98]:
# task 2 - print the elements in reverse order
# length n list -> 0 to (n-1)
length = len(data)
for i in range(length-1, -1, -1):
    print(data[i])

SACHIN
chahar
rohit sharma
dhoni
virat

In [101]:
# task 3 - print only those elements whose 2nd character is a vowel a, e, i, o, u
# interpret it in English
# ritesh (2nd character) -> "i"

vowels = ["a", "e", "i", "o", "u"] # "A", ...
for name in data: # SACHIN, "saCHiN", "Sachin"
    ch = name[1]  # "A", "a"
    if ch.lower() in vowels: # ch in vowels, ch.upper() in vowels
        print(name)
    
    
# 2 choices:- 
# 1. Extend vowels
# 2. Modify the if condition (I chose this)

# What all did I improve:-
# * Time complexity
# * Space complexity

virat
rohit sharma
SACHIN

In [ ]:
# list, tuples, strings
"virat" # string -> sequence -> 
 01234

In [109]:
# task 4 - check both 2nd and 5th characters
#             if both are vowels: print the name in upper case
#             if any one of them is a vowel: print it in lower case
#             if neither of them is a vowel: print skip
# extended business logic -> ok if name does not have a 2nd or 5th -> name is small

data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar", "sachin tendulkar"]
vowels = ["a", "e", "i", "o", "u"]
for name in data:
#     if the name does not have a 2nd or 5th character -> skip it
    x = name[1].lower()
    y = name[4].lower()
  
    if x in vowels:
        if y in vowels:
            print(name.upper())
        else:
            print(name.lower())
    else: # x is not a vowel
        if y in vowels:
            print(name.lower())
        else: # both are not vowels
            print("skip")
            
# Unoptimised code
#     if x in vowels and y in vowels:
#         print(name.upper())
#     elif x in vowels or y in vowels:
#         print(name.lower())
#     else:
#         print("skip")

virat
dhoni
rohit sharma
chahar yuzi
SACHIN TENDULKAR
SACHIN TENDULKAR

In [ ]:
How to change the behaviour of loops:- (for, while)
* break -> stop the loop immediately and start exectuing the first statmnt outside the loop
* continue -> skip the current iteration and continue looping

In [111]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar"]

for name in data:
    if name == "Rohit Sharma":
        continue
    
    print(name)

Virat
Dhoni
Chahar Yuzi
Sachin Tendulkar

In [116]:
a = list(range(1, 10)) # [1, 2, .. 9]

print("hi")
for i in a:
    print(i)
    
    if i >= 5:
        continue
        
    print("-------")
print("bye")

hi
1
-------
2
-------
3
-------
4
-------
5
6
7
8
9
bye

In [113]:
# for name in data:
#     print(name)
#     if name == "Rohit Sharma":
#         continue

In [117]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar"]

for name in data:
    if name == "Rohit Sharma":
        break
    
    print(name)

Virat
Dhoni

In [118]:
a = list(range(1, 10)) # [1, 2, .. 9]

print("hi")
for i in a:
    print(i)
    
    if i >= 5:
        break
        
    print("-------")
print("bye")

hi
1
-------
2
-------
3
-------
4
-------
5
bye

In [ ]:
Rule of thumb:-
* use break and continue only in loops
* when writing infinite loops: always have a break statement
* When writing loops if using break
    * always visit the code underneath the break statement (inside in the loop)
    * and the code immediately after the loop
* When writing loops if using continue
    * always visit the code underneath the continue statement (inside in the loop)

In [ ]:
File ops:-
To read:- Open -> Read -> Close
To Write:- Open -> Write -> Close

In [ ]:
task:- write to a new file

while True:
    data <--- DB (read a batch of 64 records from DB)
    .... # opened a new file
    
    # write the data into the file
    if <cond>:
        continue

    # close the file
    ....
    
    
<some_other_code>

In [121]:
fnames = ["virat", "ms"]#, "rohit", "chahal"]
lnames = ["kohli", "dhoni"]# , "sharma", "yuzi"]

for i in range(len(fnames)): # for i in range(2):
    print(fnames[i], lnames[i])

virat kohli
ms dhoni

In [122]:
for f in fnames:
    for l in lnames:
        print(f, l)

virat kohli
virat dhoni
ms kohli
ms dhoni

In [123]:
a = list(range(1, 4)) # [1, 2, 3]
b = list(range(1, 3)) # [1, 2]

for i in a:
    print(i)
    for j in b:
        print(j)
    print("--")

1
1
2
--
2
1
2
--
3
1
2
--

In [ ]:
1, 2, 3, 4, 5, .... -> 1D 
(1,1), (2,2), (3,3), (4,4), .... -> 2D
....

In [126]:
a = [1, 2, 3]
b = [4, 5, 6]
# o/p: (1,4) then (2,5) then (3,6)

for i in range(len(a)):
    print(a[i], b[i])

1 4
2 5
3 6

In [127]:
a = [1, 2, 3]
b = [4, 5, 6]
# o/p: (1,4) then (1,5) then (1, 6) then (2, 4) then (2,5) .....


for x in a:
    for y in b:
        print(x, y)

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6

In [129]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar"] # 2D

for name in data:
    print(name)
    for ch in name:
        print(ch)
    print("--")

Virat
V
i
r
a
t
--
Dhoni
D
h
o
n
i
--
Rohit Sharma
R
o
h
i
t

S
h
a
r
m
a
--
Chahar Yuzi
C
h
a
h
a
r

Y
u
z
i
--
Sachin Tendulkar
S
a
c
h
i
n

T
e
n
d
u
l
k
a
r
--

In [143]:
name = data[2]
print(name)
ch = name[0]
print(ch)
print(type(ch))
print(ch[0])
# print(ch[1])

Rohit Sharma
R
<class 'str'>
R

In [138]:
data[2][0]

'R'

In [137]:
s = "Virat" # 1D
for ch in s:
    print(ch)

V
i
r
a
t

In [146]:
data = ["virat", 12345, "rohit"] # 2D
data[0][3]
# data[1][3]

'a'

In [ ]:
Nested loops styles:-
for for
for while
while for
while while

In [157]:
# in if-elif the order of the ifs is important
# given mark (int) -> assign grade
# if mark is above 65: D
#                    75: C
#                    85: B
#                    90: A
# assume max mark is 100

# if the conditions written share a space
# if the conditions are not exclusive

mark = 101
if mark > 90 and mark <= 100:
    print("A")
elif mark > 85 and mark <= 100:
    print("B")
elif mark > 75 and mark <= 100:
    print("C")
elif mark > 65 and mark <= 100:
    print("D")
else:
    print("invalid mark")

invalid mark

In [ ]:
# for for -> saw

In [162]:
a = [1, 2, 3]
b = [4, 5, 6]
# o/p: (1,4) then (1,5) then (1, 6) then (2, 4) then (2,5) .....

for i in range(len(a)):
    count = 0
    while count < len(b): # count < 3
        print(a[i], b[count])
        count = count + 1

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6

In [166]:
# while for
a = [1, 2, 3]
b = [4, 5, 6]
# o/p: (1,4) then (1,5) then (1, 6) then (2, 4) then (2,5) .....

i = 0
while i < len(a): # i < 3
#     i += 1 # NO
    for j in range(len(b)):
        print(a[i], b[j])
#         i += 1 # NO
#     i += 1

1 4
2 5
3 6

In [ ]:
# while while -> exercise