In [ ]:
Revision:-
* list comprehension
* map, filter, reduce
* PBV, PBR
* Packing and Unpacking
* Industry coded functions
* Typecasting

In [1]:
kwargs = "hi"
type(kwargs)

str

In [ ]:
def fun(*args, **kwargs): # yes kwargs -> always a dict

In [ ]:
Problem 1:-
* Given an array of integers, find the majority element of the array
  ME:- For an array of length l, it appears more than l/2 times
        (l=10, count(ME)>5,   l=7, count(ME)>3)
* There will always be a majority element

In [ ]:
Conclusions:-
* All ints, obv there will be duplicates
* There cannot be 2 MEs, why? (>l/2 twice -> not possible)

In [ ]:
# Best solution:-
# TC = O(n), SC = O(1)

In [ ]:
Apporaches:-
1. dict -> store count -> if count > len/2 -> print key value # TC=O(n), SC=O(n)

In [6]:
# a = [1, 2, 3, 3, 2, 3, 3]
# a = [3, 2, 2]
a = [-3, -1, -5, -1, -3, -1, -1, -8, -1, -1]

# Approach 1
counts = {}
for i in a: # avoided the check if i in counts: ... else: ...
    counts[i] = counts.get(i, 0) + 1 # counts[i] = 1 -> i first time

print(counts)
l = len(a)
for k, v in counts.items():
    if v > l//2:
        print("ME is %s, it appears %s times" % (k, v))
        break

{-3: 2, -1: 6, -5: 1, -8: 1}
ME is -1, it appears 6 times

In [ ]:
a = [1, 2, 3, 3, 3]
a = [-8, -5, -3, -3, -1, -1, -1, -1, -1, -1] # 10 -> 6 ME

Approach 2:- # SC=O(1) TC=O(nlogn)
* Sort in place 
* a[l//2] -> ME

In [ ]:
Back of the mind:-
Constraints -> TC & SC?? They are not constraints, -> they are hints to find the solution
SC hint:
    * Where you can update the existing inputs
    * Where you dont need to update the existing inputs but get the solution using
        primitive variableS only (1, 2, .., 5 <<<<< len(input))

In [ ]:
Approach 3:- # TC = O(n), SC = O(1)

In [27]:
a = [-3, -1, -5, -1, -3, -1, -1, -8, -1, -1]
a = [1, 3, 3, 3, 2]
# a = [1,1,1,3,3,3,2,2,2,1,1,2,2,1,1,3,3,3] # Invalid


# SC = O(1)
count = 0 
maj_element = None

for value in a: # TC = O(n)
    if count == 0: 
        maj_element = value
    
    if maj_element == value:
        count += 1
    else:
        count -= 1

print(maj_element)

3

In [20]:
count

2

In [ ]:
value, count, maj_element
        0,    None
3,      1,   3
1,      0,   3
2,      1,   2
3,      0,   2
3,      1,   3

In [ ]:
52 days -> 1 M + 2 T + 1 M + Slept on a table 
30 days < 30 days

In [ ]:
Problem 2:-
* Given 2 strings s1 and s2, check if they are Isomorphic.
  Isomorphic: example: s1=abbccc and s2=xzzyyy
                       a->x  b->z  c->y
                       s1=foo and s2=baa
                       f->b  o->a
                       s1=aba  and s2=xyx
                       s1=aabba and s2=xyyyx
* Assume only [a-z][A-Z] in s1 and s2

In [29]:
52*52 # possible substitutions

2704

In [ ]:
Conclusions:-
* len of s1 and s2 is equal? Y/N -> Y
* What will be the o/p at the end? T/F

In [ ]:
Best solution:-
* TC = O(n)

In [ ]:
Half possible solution:-
Approach 
* len(set(s1)) == len(set(s2)) # s1 and s2 are isomorphic, s1=?  s2=?
    s1 = abb 
    s2 = xxy 
    a->x and b->y --> xyy
    a->y and b->x --> yxx

In [ ]:
Approach 1:-
* count characters
* replace characters with same count

s1=abbccc and s2=xzzyyy
a=1, b=2, c=3
x=1, z=2, y=3

s1=ccoo and s2=eerr
c=2, o=2
e=2, r=2
Solution 1: c->e and o->r
Solution 2: c->r and o->e

2, 2, 2, 2, 2, 1, 3, 3, 3
2, 2, 2, 1, 3, 3, 3, 2, 2

In [41]:
# s1 = "abbcccddffff"
# s2 = "xwzwzyyyeeww"
s1 = "aabba"
s2 = "xyyyx"
# s1 = "foo"
# s2 = "aab"

def get_counts(s):
    counts = {}
    for i in s: # avoided the check if i in counts: ... else: ...
        counts[i] = counts.get(i, 0) + 1 # counts[i] = 1 -> i first time
    
    value_counts = {}
    for v in counts.values():
        value_counts[v] = value_counts.get(v, 0) + 1
    return value_counts

c1 = get_counts(s1) 
c2 = get_counts(s2)
print(c1) # k: an integer and v: the number of times k comes in s1
print(c2)

c1 == c2

{1: 1, 2: 2, 3: 1, 4: 1}
{1: 1, 4: 1, 2: 2, 3: 1}

True

In [43]:
a = {"hi": 25}
k = "Hi"
a.get(k, -1)

-1

In [ ]:
13 Jan - 1 Feb

In [ ]:
# There are  5 students in this class whose names and grades are assembled to build the following list:

# students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

# o/p= ['harry', " Berry"]
# The lowest grade of 37.2  belongs to Tina. The second lowest grade of 37.21  belongs to both Harry and Berry, so order their names alphabetically and print each name on a new 
# line.

In [44]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
students

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41],
 ['Harsh', 39]]

In [45]:
students.sort(key=lambda x: x[1])

In [46]:
students

[['Tina', 37.2],
 ['Harry', 37.21],
 ['Berry', 37.21],
 ['Harsh', 39],
 ['Akriti', 41]]

In [48]:
marks = {}
for n, g in students:
    if g not in marks:
        marks[g] = [n]
    else:
        marks[g].append(n)

print(marks)

for k, v in marks.items():
    v.sort()
    
print(marks)

{37.2: ['Tina'], 37.21: ['Harry', 'Berry'], 39: ['Harsh'], 41: ['Akriti']}
{37.2: ['Tina'], 37.21: ['Berry', 'Harry'], 39: ['Harsh'], 41: ['Akriti']}

In [49]:
l = []
second_lowest_names = []
scores = set()
number= int(input("how many inputs you wanna give"))

for i in range(number):
    name = input("enter name record of person %s" %(i+1))
    score = float(input("enter marks record of person %s" %(i+1)))
    l.append([name, score])		# adds list elements
    scores.add(score)			# adds set elements
        
second_lowest = sorted(scores)[1]
print ("your record is ", l)
for name, score in l:
    if score == second_lowest:
        second_lowest_names.append(name)
print(list(sorted(second_lowest_names))) #sorts the set

how many inputs you wanna give5
enter name record of person 1A
enter marks record of person 137.2
enter name record of person 2B
enter marks record of person 237.21
enter name record of person 3C
enter marks record of person 337.21
enter name record of person 4D
enter marks record of person 439
enter name record of person 5E
enter marks record of person 541
your record is  [['A', 37.2], ['B', 37.21], ['C', 37.21], ['D', 39.0], ['E', 41.0]]
['B', 'C']

In [ ]:
Implement a Data structure present in C programming Language
Binary Search Tree (BST)
* Its a tree of values ordered in a fashion
* Each node in the tree can have 0, 1, 2 children
    * 0 children -> No children
    * 1 children -> Either be left child or right child
    * 2 children -> Both left and right child
* The value of the left child of the tree < the parent
  The value of the right child of the tree > the parent
* The value at the top of the tree is called root

Current implementation of BST:-
I = S = D = O(log n)

# 1, 2, 4, 8, 16, 
n = 100 elements # 2**6 = 64 - 2**7 = 128
100 -> 50 -> 25 -> 12 -> 6 -> 3 -> 1
log(n) # O(log 100)

In [51]:
# I, S, D
values = list(map(int, input("Enter values to insert:").split(" ")))

Enter values to insert:5 1 2 3 9 12 21 19 25

In [52]:
values

[5, 1, 2, 3, 9, 12, 21, 19, 25]

In [ ]:
# list
root = 5
l = [[5, 2, 12], [2, 1, 3], [12, 9, 21], [9, None, None], ...]  # this works
# syntax element in l -> [value, lc value=None, rc value=None]

Problems or limitations?
* When the tree is big, we will end up with a lot None values
* Repeated values
* Difficutly in backtracking
* Insert, Search, Delete - very expensive and complex operations

# dict, set, tuple -> ....

In [ ]:
Solution:-
* Node (create it) !!!
* Node can hold
    * An integer value
    * Optionally hold left Node and right Node pointers depending on the situation