In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'col1': [1,2,3,4,5],
               'col2': [45,56,47,35,32],
               'col3': 'Ajay kumar Verma Ineuron one'
             })  #convert dictionary into DataFrame

   col1  col2                          col3
0     1    45  Ajay kumar Verma Ineuron one
1     2    56  Ajay kumar Verma Ineuron one
2     3    47  Ajay kumar Verma Ineuron one
3     4    35  Ajay kumar Verma Ineuron one
4     5    32  Ajay kumar Verma Ineuron one

In [3]:
'Ajay kumar Verma Ineuron one'.split()

['Ajay', 'kumar', 'Verma', 'Ineuron', 'one']

In [4]:
df = pd.DataFrame({'col1': [1,2,3,4,5],
               'col2': [45,56,47,35,32],
               'col3': 'Ajay kumar Verma Ineuron one'.split()
             })

In [5]:
df

   col1  col2     col3
0     1    45     Ajay
1     2    56    kumar
2     3    47    Verma
3     4    35  Ineuron
4     5    32      one

In [6]:
df['col4'] = 1

In [7]:
df

   col1  col2     col3  col4
0     1    45     Ajay     1
1     2    56    kumar     1
2     3    47    Verma     1
3     4    35  Ineuron     1
4     5    32      one     1

In [8]:
df['col4'] = df['col1']**2

In [9]:
df

   col1  col2     col3  col4
0     1    45     Ajay     1
1     2    56    kumar     4
2     3    47    Verma     9
3     4    35  Ineuron    16
4     5    32      one    25

In [10]:
df['col5'] = df['col3'].str[0]

In [11]:
df

   col1  col2     col3  col4 col5
0     1    45     Ajay     1    A
1     2    56    kumar     4    k
2     3    47    Verma     9    V
3     4    35  Ineuron    16    I
4     5    32      one    25    o

In [12]:
def test(a):
    return a**2

In [13]:
df['col4_4'] = df['col1'].apply(test)  #apply function as a mapper function

In [14]:
df

   col1  col2     col3  col4 col5  col4_4
0     1    45     Ajay     1    A       1
1     2    56    kumar     4    k       4
2     3    47    Verma     9    V       9
3     4    35  Ineuron    16    I      16
4     5    32      one    25    o      25

In [18]:
def test1(a):
    if a == 'A':
        return 'A'
    else:
        return 'z'

In [19]:
df['col6'] = df['col5'].apply(test1)

In [20]:
df

   col1  col2     col3  col4 col5  col4_4 col6
0     1    45     Ajay     1    A       1    A
1     2    56    kumar     4    k       4    z
2     3    47    Verma     9    V       9    z
3     4    35  Ineuron    16    I      16    z
4     5    32      one    25    o      25    z

In [21]:
df['col6_6'] = df['col5'].apply(lambda a: 'A' if a== 'A' else 'Z')

In [22]:
df

   col1  col2     col3  col4 col5  col4_4 col6 col6_6
0     1    45     Ajay     1    A       1    A      A
1     2    56    kumar     4    k       4    z      Z
2     3    47    Verma     9    V       9    z      Z
3     4    35  Ineuron    16    I      16    z      Z
4     5    32      one    25    o      25    z      Z

In [23]:
df['col7'] = df['col3'].apply(len)

In [24]:
df

   col1  col2     col3  col4 col5  col4_4 col6 col6_6  col7
0     1    45     Ajay     1    A       1    A      A     4
1     2    56    kumar     4    k       4    z      Z     5
2     3    47    Verma     9    V       9    z      Z     5
3     4    35  Ineuron    16    I      16    z      Z     7
4     5    32      one    25    o      25    z      Z     3

In [25]:
import math

In [26]:
df['col8'] = df['col2'].apply(math.log)

In [27]:
df

   col1  col2     col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    45     Ajay     1    A       1    A      A     4  3.806662
1     2    56    kumar     4    k       4    z      Z     5  4.025352
2     3    47    Verma     9    V       9    z      Z     5  3.850148
3     4    35  Ineuron    16    I      16    z      Z     7  3.555348
4     5    32      one    25    o      25    z      Z     3  3.465736

# Numpy

In [28]:
import numpy as np

In [29]:
l = ['Ajay',2,3,4,5]

In [30]:
type(l)

list

In [31]:
np.array(l)

array(['Ajay', '2', '3', '4', '5'], dtype='<U21')

In [32]:
type(np.array(l))

numpy.ndarray

In [33]:
np.array([3,4,5,6,7,3.0])

array([3., 4., 5., 6., 7., 3.])

In [36]:
a = np.array([[1,2],[3,4]])

In [37]:
a

array([[1, 2],
       [3, 4]])

In [39]:
a[1]

array([3, 4])

In [40]:
a[1][1]

4

In [41]:
a1 = np.array([3,4,5,6,7,3.0])

In [42]:
a1

array([3., 4., 5., 6., 7., 3.])

In [43]:
a1[1]

4.0

In [50]:
np.array([1,2,3,4],ndmin = 2)

array([[1, 2, 3, 4]])

In [51]:
a2 = np.array([1,2,3,4],ndmin = 4)

In [52]:
a2

array([[[[1, 2, 3, 4]]]])

In [53]:
a2[0]

array([[[1, 2, 3, 4]]])

In [54]:
a2[0][0]

array([[1, 2, 3, 4]])

In [57]:
a2[0][0][0][0]

1

In [63]:
np.mat([1,2,3,4,5]) #mat gives min 2 dimension array

matrix([[1, 2, 3, 4, 5]])

In [61]:
np.asanyarray([1,2,3,4,5,6])

array([1, 2, 3, 4, 5, 6])

In [64]:
a = [1,2,3,4,5]
np.asarray(a)

array([1, 2, 3, 4, 5])

In [65]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [66]:
np.asanyarray(np.mat(a)) #mat will convert only if its not 2Dim if it is already then it wont convert

matrix([[1, 2, 3, 4, 5]])

In [67]:
np.fromfunction(lambda i,j : i == j, (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [69]:
np.fromfunction(lambda i,j : i*j,(4,4))

array([[0., 0., 0., 0.],
       [0., 1., 2., 3.],
       [0., 2., 4., 6.],
       [0., 3., 6., 9.]])

In [70]:
np.fromfunction(lambda i,j : i*j,(4,4),dtype = int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [75]:
#np.mat(np.fromfunction(lambda i,j,z : i*j*z,(3,3,2),dtype = int)) #error

In [76]:
np.fromfunction(lambda i,j,z : i*j*z, (3,3,2), dtype = int) # 3 matrix -> 3row X 2col

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [77]:
np.fromfunction(lambda i,j,z : i*j*z, (4,3,2), dtype = int) # 4 matrix -> 3row X 2col - 4Z-3Y-2X

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [79]:
np.fromfunction(lambda i,j,z,p : i*j*z*p, (4,3,2,2), dtype = int) # [4 matrix -> [ 3matrix -> [2row X 2col] ]]

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [102]:
a = np.fromfunction(lambda i,j,z : i*j*z, (4,3,2), dtype = int)

In [103]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [83]:
a.ndim #dimension

3

In [84]:
a.size #size - number of element

24

In [85]:
a.shape

(4, 3, 2)

In [104]:
a.reshape(12,2) # a.reshape(1,24)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [105]:
pd.DataFrame(a.reshape(8,3))

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  1  0  2
4  0  0  0
5  2  0  4
6  0  0  0
7  3  0  6

In [106]:
a.reshape(4,2,1,3)

array([[[[0, 0, 0]],

        [[0, 0, 0]]],


       [[[0, 0, 0]],

        [[1, 0, 2]]],


       [[[0, 0, 0]],

        [[2, 0, 4]]],


       [[[0, 0, 0]],

        [[3, 0, 6]]]])

In [107]:
a.reshape(4,2,1,3,1,1)

array([[[[[[0]],

          [[0]],

          [[0]]]],



        [[[[0]],

          [[0]],

          [[0]]]]],




       [[[[[0]],

          [[0]],

          [[0]]]],



        [[[[1]],

          [[0]],

          [[2]]]]],




       [[[[[0]],

          [[0]],

          [[0]]]],



        [[[[2]],

          [[0]],

          [[4]]]]],




       [[[[[0]],

          [[0]],

          [[0]]]],



        [[[[3]],

          [[0]],

          [[6]]]]]])

In [108]:
a.reshape(4,-1) # (4,6) 4*6=24 like 4 and -1 is rest so 4*6=24

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [109]:
a.reshape(4,-12323)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [110]:
a.reshape(2,4,-123)

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        [1, 0, 2]],

       [[0, 0, 0],
        [2, 0, 4],
        [0, 0, 0],
        [3, 0, 6]]])

In [86]:
a.dtype

dtype('int64')

In [87]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [88]:
a = np.fromfunction(lambda i,j : i*j, (4,3), dtype = int)

In [90]:
pd.DataFrame(a)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [94]:
a = np.fromfunction(lambda i,j : i*j, (100,100), dtype = int)

In [95]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,95,190,285,380,475,570,665,760,855,...,8550,8645,8740,8835,8930,9025,9120,9215,9310,9405
96,0,96,192,288,384,480,576,672,768,864,...,8640,8736,8832,8928,9024,9120,9216,9312,9408,9504
97,0,97,194,291,388,485,582,679,776,873,...,8730,8827,8924,9021,9118,9215,9312,9409,9506,9603
98,0,98,196,294,392,490,588,686,784,882,...,8820,8918,9016,9114,9212,9310,9408,9506,9604,9702
99,0,99,198,297,396,495,594,693,792,891,...,8910,9009,9108,9207,9306,9405,9504,9603,9702,9801

In [96]:
np.random.rand(100,4) #rand -> it will give simple random number

array([[0.1962507 , 0.47688828, 0.44656447, 0.98953128],
       [0.73305727, 0.67522242, 0.2800437 , 0.56046016],
       [0.70553056, 0.17562959, 0.99571418, 0.55829108],
       [0.97545203, 0.87573824, 0.94010821, 0.61720162],
       [0.03734937, 0.50278051, 0.83788534, 0.32755899],
       [0.81184556, 0.56584182, 0.29554713, 0.6059666 ],
       [0.85341874, 0.33438604, 0.72256257, 0.84725582],
       [0.49117871, 0.57079904, 0.54445081, 0.1957564 ],
       [0.77704057, 0.50030191, 0.91403282, 0.80083011],
       [0.6289244 , 0.21984137, 0.90586383, 0.78666751],
       [0.2978657 , 0.29093449, 0.85554994, 0.15567688],
       [0.4000841 , 0.79955886, 0.30787472, 0.81199471],
       [0.42299512, 0.5209172 , 0.25210884, 0.16500729],
       [0.24327898, 0.8181957 , 0.44029428, 0.26579455],
       [0.57888107, 0.75526152, 0.83350031, 0.32348991],
       [0.86003057, 0.36315616, 0.3952101 , 0.58595437],
       [0.99842708, 0.41853667, 0.09213008, 0.18540342],
       [0.91923661, 0.2706045 , 0.63014237, 0.08178859],
       [0.08152385, 0.18118717, 0.08001213, 0.28224283],
       [0.75788431, 0.07175527, 0.45938489, 0.00849993],
       [0.25931885, 0.64076758, 0.67802934, 0.84054725],
       [0.4955128 , 0.63980646, 0.88500341, 0.86823755],
       [0.04494447, 0.33817716, 0.42677654, 0.84223555],
       [0.45314921, 0.23041442, 0.89835631, 0.59183209],
       [0.34659056, 0.50290787, 0.16518745, 0.46728224],
       [0.62222716, 0.90173076, 0.39955948, 0.95637133],
       [0.97999554, 0.61310343, 0.01423734, 0.9076041 ],
       [0.57361031, 0.51888824, 0.51299415, 0.3077272 ],
       [0.26917651, 0.36126094, 0.91445437, 0.8951736 ],
       [0.11693285, 0.14827384, 0.31211234, 0.66000922],
       [0.35115248, 0.76800098, 0.39168945, 0.66954946],
       [0.84749274, 0.22631418, 0.24283928, 0.76997206],
       [0.33523565, 0.08768847, 0.18441654, 0.42748554],
       [0.5151687 , 0.36051872, 0.27477485, 0.16785652],
       [0.92099971, 0.95675849, 0.49083205, 0.2336777 ],
       [0.76194866, 0.97337044, 0.04430787, 0.95705864],
       [0.15350055, 0.50334689, 0.55754081, 0.11431102],
       [0.67494189, 0.47751157, 0.49108261, 0.16324224],
       [0.46241824, 0.87767089, 0.18267835, 0.02318104],
       [0.56721787, 0.68751863, 0.46633464, 0.4604983 ],
       [0.52041547, 0.41654227, 0.4247649 , 0.07946202],
       [0.10348509, 0.82846338, 0.80319327, 0.17470913],
       [0.76892716, 0.29015149, 0.79074913, 0.11004718],
       [0.7265386 , 0.50874502, 0.0585998 , 0.61725781],
       [0.90110226, 0.88093984, 0.30999317, 0.5343246 ],
       [0.89200204, 0.53213356, 0.70560023, 0.32287279],
       [0.61282198, 0.42675172, 0.87745766, 0.25236198],
       [0.80769743, 0.58614753, 0.19254654, 0.96089024],
       [0.89621214, 0.03936219, 0.52921893, 0.68640673],
       [0.26406983, 0.52133213, 0.92558959, 0.51107334],
       [0.72163997, 0.63375835, 0.70988011, 0.59951266],
       [0.1891119 , 0.04303506, 0.40847505, 0.09139978],
       [0.40044925, 0.63675825, 0.27460554, 0.02723407],
       [0.35705854, 0.78923111, 0.24503416, 0.31351644],
       [0.77066117, 0.0122625 , 0.55613676, 0.49245968],
       [0.38808069, 0.09475717, 0.34281273, 0.42143471],
       [0.82866839, 0.22509471, 0.4904861 , 0.4092599 ],
       [0.46988628, 0.09568126, 0.89573866, 0.1348413 ],
       [0.06812247, 0.04852958, 0.80165331, 0.05067753],
       [0.31134264, 0.09410279, 0.95981129, 0.46554754],
       [0.16699874, 0.69513644, 0.25173636, 0.67066412],
       [0.87974721, 0.65915941, 0.95567957, 0.70491093],
       [0.31676059, 0.30857527, 0.26326118, 0.59659889],
       [0.73084552, 0.8059503 , 0.48254546, 0.16267866],
       [0.68094569, 0.90605629, 0.77383821, 0.46207569],
       [0.65268536, 0.5593544 , 0.98728361, 0.5669442 ],
       [0.5255421 , 0.78963597, 0.78441948, 0.57624128],
       [0.74217535, 0.56712484, 0.18616742, 0.52684252],
       [0.65201758, 0.70767354, 0.39580999, 0.165348  ],
       [0.98123596, 0.79647409, 0.80543372, 0.90539207],
       [0.49735686, 0.13300804, 0.56543436, 0.27318567],
       [0.00740845, 0.55792048, 0.33265831, 0.82258759],
       [0.74069541, 0.95144763, 0.68934162, 0.27438746],
       [0.30527761, 0.70938804, 0.14628402, 0.6016001 ],
       [0.25350244, 0.82522362, 0.44931967, 0.26015935],
       [0.93339412, 0.14195644, 0.19795212, 0.65688025],
       [0.93159384, 0.74364761, 0.82228906, 0.73900863],
       [0.32820147, 0.7543242 , 0.03256513, 0.46071824],
       [0.85851773, 0.09617942, 0.24550872, 0.64960611],
       [0.77487566, 0.9774436 , 0.28393393, 0.65489844],
       [0.48918397, 0.66799255, 0.02719973, 0.30507909],
       [0.09911482, 0.83744991, 0.54071656, 0.17424666],
       [0.79621453, 0.23765162, 0.17324989, 0.24850674],
       [0.33752051, 0.98987016, 0.66237507, 0.55730858],
       [0.28841776, 0.61483227, 0.36801291, 0.66363987],
       [0.71583505, 0.0331133 , 0.09943533, 0.31219209],
       [0.96903243, 0.31859257, 0.80916217, 0.83268304],
       [0.80629268, 0.31209039, 0.22026068, 0.85183746],
       [0.05397777, 0.01053286, 0.40303516, 0.59259328],
       [0.735023  , 0.45389843, 0.27124807, 0.30182736],
       [0.13621257, 0.34919615, 0.54021208, 0.86529842],
       [0.32867889, 0.82354667, 0.09892902, 0.896059  ],
       [0.14161058, 0.31643291, 0.8920566 , 0.57399487],
       [0.98804496, 0.36454242, 0.95613123, 0.58825298],
       [0.38363637, 0.76487614, 0.21055633, 0.15668491],
       [0.88336559, 0.13723032, 0.63320529, 0.04837229],
       [0.46472805, 0.89878057, 0.25317427, 0.50866281],
       [0.74199645, 0.1443853 , 0.0393821 , 0.24983612],
       [0.34021327, 0.52252938, 0.22393958, 0.48276572],
       [0.9977171 , 0.47699942, 0.99629286, 0.6507952 ]])

In [98]:
np.random.randint(4,50) #any random integer between 4-50

13

In [100]:
np.random.randn(4,5) #randn ->random number with normal distribution

array([[ 0.76496649,  0.67874976, -0.72255941, -0.94279548, -0.01025047],
       [-0.07029737,  0.39223547,  0.46253127,  1.47819056,  0.77670826],
       [ 0.85798431, -1.29435036,  0.58315259, -1.42470359, -0.29124883],
       [-1.38527802, -1.22960329,  0.82461941,  2.18548314, -0.62263887]])

In [101]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0  0.541542 -0.286764 -1.356198  0.863039 -1.687202
1  0.519832 -0.200214 -0.646288 -0.136363 -0.499515
2 -2.372328  1.795897  0.384814  0.187329 -0.644642
3  0.617545 -0.298988  1.820391 -1.325681 -0.605908

In [111]:
list(range(4,10)) #excluding 10

[4, 5, 6, 7, 8, 9]

In [112]:
list(range(4,10,2))

[4, 6, 8]

In [113]:
list(range(4,10,.2))  #only integer all 3paramenter

TypeError: 'float' object cannot be interpreted as an integer

In [114]:
np.arange(4,10,.2)

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [115]:
np.arange(4,10.5,.2)

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [116]:
a1 = np.arange(4,10.5,.2)

In [117]:
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [118]:
a1[1:4]

array([4.2, 4.4, 4.6])

In [119]:
arr = np.random.rand(4,5)

In [120]:
arr

array([[0.08829811, 0.49934326, 0.5737143 , 0.23107651, 0.73297326],
       [0.30707822, 0.4783286 , 0.24517991, 0.56262994, 0.47335355],
       [0.33949327, 0.68894682, 0.6553466 , 0.53236113, 0.10988094],
       [0.81077073, 0.5125414 , 0.44358764, 0.41969119, 0.32568247]])

In [121]:
arr > .5

array([[False, False,  True, False,  True],
       [False, False, False,  True, False],
       [False,  True,  True,  True, False],
       [ True,  True, False, False, False]])

In [122]:
arr[arr > .5]

array([0.5737143 , 0.73297326, 0.56262994, 0.68894682, 0.6553466 ,
       0.53236113, 0.81077073, 0.5125414 ])

In [123]:
arr

array([[0.08829811, 0.49934326, 0.5737143 , 0.23107651, 0.73297326],
       [0.30707822, 0.4783286 , 0.24517991, 0.56262994, 0.47335355],
       [0.33949327, 0.68894682, 0.6553466 , 0.53236113, 0.10988094],
       [0.81077073, 0.5125414 , 0.44358764, 0.41969119, 0.32568247]])

In [126]:
arr[[1,2],[2]]

array([0.24517991, 0.6553466 ])

In [127]:
arr = np.random.rand(8,5)

In [128]:
arr

array([[0.81764033, 0.68276159, 0.88383718, 0.20379102, 0.27915745],
       [0.60978191, 0.0191832 , 0.05577631, 0.33004131, 0.34826243],
       [0.63248264, 0.07446326, 0.85107014, 0.59782537, 0.37513522],
       [0.10879188, 0.85667419, 0.31927387, 0.93623144, 0.51562836],
       [0.86539054, 0.50549064, 0.63709281, 0.05173101, 0.46557927],
       [0.53747751, 0.42408789, 0.33462   , 0.95363652, 0.39617582],
       [0.60833612, 0.18385769, 0.52748433, 0.41868704, 0.54047844],
       [0.81908004, 0.50705148, 0.78777452, 0.70439303, 0.68263219]])

In [130]:
arr[1:8,0:3]

array([[0.60978191, 0.0191832 , 0.05577631],
       [0.63248264, 0.07446326, 0.85107014],
       [0.10879188, 0.85667419, 0.31927387],
       [0.86539054, 0.50549064, 0.63709281],
       [0.53747751, 0.42408789, 0.33462   ],
       [0.60833612, 0.18385769, 0.52748433],
       [0.81908004, 0.50705148, 0.78777452]])

In [133]:
ar2 = arr[1:8,[0,1,2]]

In [134]:
ar2

array([[0.60978191, 0.0191832 , 0.05577631],
       [0.63248264, 0.07446326, 0.85107014],
       [0.10879188, 0.85667419, 0.31927387],
       [0.86539054, 0.50549064, 0.63709281],
       [0.53747751, 0.42408789, 0.33462   ],
       [0.60833612, 0.18385769, 0.52748433],
       [0.81908004, 0.50705148, 0.78777452]])

In [136]:
ar2[0][0] = 100

In [138]:
ar2

array([[1.00000000e+02, 1.91832024e-02, 5.57763053e-02],
       [6.32482637e-01, 7.44632627e-02, 8.51070140e-01],
       [1.08791883e-01, 8.56674188e-01, 3.19273866e-01],
       [8.65390542e-01, 5.05490640e-01, 6.37092814e-01],
       [5.37477510e-01, 4.24087887e-01, 3.34619999e-01],
       [6.08336116e-01, 1.83857686e-01, 5.27484331e-01],
       [8.19080040e-01, 5.07051480e-01, 7.87774516e-01]])

In [139]:
a = np.array([[1,2],[3,4]])
b = np.array([[2,3],[4,5]])

In [140]:
a

array([[1, 2],
       [3, 4]])

In [141]:
b

array([[2, 3],
       [4, 5]])

In [142]:
a*b #not multiplication matrix

array([[ 2,  6],
       [12, 20]])

In [148]:
m = a@b #matrix multiplication

In [149]:
m

array([[10, 13],
       [22, 29]])

In [150]:
m/0

/tmp/ipykernel_14955/3791875896.py:1: RuntimeWarning: divide by zero encountered in divide
  m/0

array([[inf, inf],
       [inf, inf]])