In [8]:
print("Hello Python")

Hello Python

In [1]:
256*256*3

256*256*3*10

1966080

In [5]:
import sys
x = 5

sys.getsizeof(x)

28

In [6]:
list1 = "abcdefg"
list2 = list(list1)
list2

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [7]:
"".join(list2)

'abcdefg'

In [1]:
#if-else

age = 18.6

if age > 18:
    print("You can vote")
elif age < 0:
    print("Invalid age")
else:
    print("You cant vote")

You can vote

In [2]:
x = -3
y = 2

if (x > 0) and (y > 0):
    print("Q1")
elif x < 0 and y > 0: # change it to if and see what happens
    print("Q2")
elif x < 0 and y < 0:
    print("Q3")
elif x > 0 and y < 0:
    print("Q4")
else:
    print("Origin")

Q2

In [4]:
x = 3
y = 2
z = 2

if x > 2 and y > 0:
    print("Write here")
    if z > 0:
        print("Positive")
    else:
        print("Negative")

Write here
Positive

In [9]:
#Loop


list1 = "a","b","c","d","e"
for i in list1:
    print(i)

('a', 'b', 'c', 'd', 'e')

In [13]:
list1 = ["a","b","c","d","e"]

while list1:
    x = list1.pop(0)
    print(x)

a
b
c
d
e

In [14]:
x.upper()

'E'

In [18]:
list1 = ["a","b","c","d","e"]

for x in enumerate(list1):
    index,name = x
    print("My index is:",index)
    print("My name is :",name)

My index is: 0
My name is : a
My index is: 1
My name is : b
My index is: 2
My name is : c
My index is: 3
My name is : d
My index is: 4
My name is : e

In [19]:
for i,n in enumerate(list1):
    print(i,"---->",n)

0 ----> a
1 ----> b
2 ----> c
3 ----> d
4 ----> e

In [23]:
list1 = ["a","b","c","d","e"]

while len(list1):
    x = list1.pop(0)
    print(x)

a
b
c
d
e

In [24]:
list(range(2,8,2))

[2, 4, 6]

In [27]:
list2 = ["ajay","amit","sumit","Sachin"]

for i in list2:
    print(i.upper())

AJAY
AMIT
SUMIT
SACHIN

In [28]:
vowels = ['a','e','i','o','u']

for name in list2:
    ch = name[1]
    if ch.lower() in vowels:
        print(name)

sumit
Sachin

In [29]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar", "sachin tendulkar"]
vowels = ["a", "e", "i", "o", "u"]

for name in data:
    x = name[1].lower()
    y = name[4].lower()
    
    if x in vowels:
        if y in vowels:
            print(name.upper())
        else:
            print(name.lower())
            
    else:
        if y in vowels:
            print(name.lower())
        else:
            print("skip")

virat
dhoni
rohit sharma
chahar yuzi
SACHIN TENDULKAR
SACHIN TENDULKAR

In [30]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar"]

for name in data:
    if name == "Dhoni":
        continue
    print(name)

Virat
Rohit Sharma
Chahar Yuzi
Sachin Tendulkar

In [31]:
for name in data:
    if name == "Chahar Yuzi":
        break
    print(name)

Virat
Dhoni
Rohit Sharma

In [32]:
a = list(range(1,10))

print("Hii")

for i in a:
    print(i)
    
    if i >= 5:
        break
        
    print("----")
    
print("bye")

Hii
1
----
2
----
3
----
4
----
5
bye

In [33]:
l1 = [1,2,3]
l2 = [5,6,7]

for i in range(len(l1)):
    print(l1[i],l2[i])

1 5
2 6
3 7

In [6]:
l1 = [1,2,3]
l2 = [5,6,7]

i = 0
while i < len(l1):
    
    for j in range(len(l2)):
        print(l1[i],l2[j])
        i = i+1

1 5
2 6
3 7

In [2]:
#palindrome 

s = 'noon'

s1 = s[::-1]

if s == s1:
    print("Palindorme")
else:
    print("Not Palindrome")

Palindorme

In [7]:
s1 = "aabbaa"
s2 = "ababaa"

dict1 = {}
dict2 = {}

if len(s1) == len(s2):
    for ch in s1:
        if ch in dict1:
            dict1[ch] += 1
        else:
            dict1[ch] = 1
            
    for ch in s2:
        if ch in dict2:
            dict2[ch] += 1
        else:
            dict2[ch] = 1
    
    if dict1 == dict2:
        print("Anagram")
    else:
        print("Not anagram")
        
        
else:
    print("Not anagram")
            
#print(dict1)

Anagram

In [10]:
s1 = 'abcabc'
s2 = 'aabbcc'
dict1 = {}
dict2 = {}

if len(s1) == len(s2):
    for ch in s1:
        if ch in dict1:
            dict1[ch] += 1
        else:
            dict1[ch] = 1
            
    for ch in s2:
        if ch in dict2:
            dict2[ch] += 1
        else:
            dict2[ch] = 1
            
            
    if dict1 == dict2:
        print("Anagrm")
        
    else:
        print("Not anagram")
        
else:
    print("Not anagram")

Anagrm

In [2]:
s = 'aabbaa'
if s == s[::-1]:
    print("Palindrome")
else:
    print("not a palindrome")

not a palindrome

In [11]:
s1 = 'eabcabcd'
s2 = 'eaabbccd'
dict1 = {}
dict2 = {}

if len(s1) == len(s2):
    for ch in s1:
        if ch in dict1:
            dict1[ch] += 1
        else:
            dict1[ch] = 1
            
    for ch in s2:
        if ch in dict2:
            dict2[ch] += 1
        else:
            dict2[ch] = 1
            
    if dict1 == dict2:
        print("Anagram")
    else:
        print("Not an anagram")

else:
    print("Not an anagram")
    
print(dict1)
print(dict2)

Anagram
{'e': 1, 'a': 2, 'b': 2, 'c': 2, 'd': 1}
{'e': 1, 'a': 2, 'b': 2, 'c': 2, 'd': 1}

In [13]:
print("P" in "Python")

True

In [14]:
s = "abcdkasmcnkasmdsdasdas"

dict1 = {}

for ch in s:
    if ch in dict1:
        dict1[ch] += 1
    else:
        dict1[ch] = 1
        
print(dict1)

{'a': 5, 'b': 1, 'c': 2, 'd': 4, 'k': 2, 's': 5, 'm': 2, 'n': 1}

In [15]:
s = "abcdkasmcnkasmdsdasdas"

dict1 = {}

for ch in s:
    if ch not in dict1:
        dict1[ch] = s.count(ch)
        
print(dict1)

{'a': 5, 'b': 1, 'c': 2, 'd': 4, 'k': 2, 's': 5, 'm': 2, 'n': 1}

In [24]:
x=1
y=1
print(x,y, end=" ")
while True:
    z = x+y
    x = y
    y = z
    if z > 50:
        break;
    print(z,end=" ")

1 1 2 3 5 8 13 21 34

In [25]:
#list comprehension

b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b = [i**2 if i%2 == 0 else i**3 for i in range(10)]
b

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [30]:
b = ['even' if i%2 == 0 else 'odd' for i in range(10)]
b

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [2]:
d = {"virat": 112, "ms": 1232, "chahal": -123}

In [5]:
d.keys()

dict_keys(['virat', 'ms', 'chahal'])

In [6]:
d.values()

dict_values([112, 1232, -123])

In [7]:
for k,v in d.items():
    print(k,v)

virat 112
ms 1232
chahal -123

In [8]:
d["virat"], d.get("virat")

(112, 112)

In [11]:
d1 = {"a": 1, "b": 23, "c": 12, "d": 12}
d2 = {"a": 2, "e": 3, "d": -12}

d1.update(d2)

In [13]:
d1

{'a': 2, 'b': 23, 'c': 12, 'd': -12, 'e': 3}

In [15]:
d2 = {"a": 2, "e": 3, "d": -12}

rev_dict = {}

for k,v in d2.items():
    rev_dict[v] = k
    
rev_dict

{2: 'a', 3: 'e', -12: 'd'}

In [16]:
d1 = {v:k for k,v in d1.items()}
d1

{2: 'a', 23: 'b', 12: 'c', -12: 'd', 3: 'e'}

In [20]:
values=[]
print("print -1 -1 to exit input")

while True:
    ip = input("Enter two values seperated by space : ")
    x,y = ip.split(" ")
    if int(x) == -1 and int(y) == -1:
        break
    values.append((int(x),int(y)))

print -1 -1 to exit input
Enter two values seperated by space : 3 5
Enter two values seperated by space : 4 9
Enter two values seperated by space : 1 0
Enter two values seperated by space : -1 0
Enter two values seperated by space : -1 -1

In [21]:
values

[(3, 5), (4, 9), (1, 0), (-1, 0)]

In [22]:
def msg(name):
    print(name)
    
msg("AJAY")

AJAY

In [28]:
def msg(name):
    msg1 = "Hi : " + name
    
    return msg1

res = msg("AJAY")
res

'Hi : AJAY'

In [35]:
def fun(a,b):
    res1 = a**2
    res2 = b**2
    return res1 < res2

a = 5
b = 6
res = fun(a,b)
res

True

In [42]:
def fun(a,b):
    results = []
    for x,y in zip(a,b):
        res1 = x**y
        res2 = y**x
        results.append(res1 < res2)
    return results
        
list1 = [2,3,4,5,6,7]
list2 = [4,5,3,3,8,2]

res = fun(list1,list2)
print(res)

[False, False, True, True, False, True]

In [4]:
import re

In [6]:
x = re.search("[0-9][0-9][0-9]","oooloo746..@janfk l;ad")
x

In [7]:
# Unpacking:-
# * Deconstruct a sequence type into primitive/sequence types

l = [1, 2, 3] # tuple
a, b, c = l

In [8]:
l = [1,2,3,[5,6,7]]

a,b,c,d = l

In [10]:
a,b,c,d

(1, 2, 3, [5, 6, 7])

In [2]:
#packing

def f(*l):
    return (sum(l)*1.0)/len(l)
    
print(f(1,2,3))
print(f(2))
print(f(3,4,5,6))

2.0
2.0
4.5

In [1]:
def mean(*l): # dynamic - no. of elements it accepts is dynamic
#     print(type(l)) # why is l not a list?
    return (sum(l)*1.0)/len(l)
    
print(mean(1, 2, 3))
print(mean(1))
print(mean(1, 2, 3, 4.5, 5))

2.0
1.0
3.1

In [3]:

def mean(*l):
    return (sum(l)*1.0)/len(l)
    
print(mean(1,2,3))
print(mean(2))
print(mean(3,4,5,6))

2.0
2.0
4.5

In [4]:
print("Hii")

Hii

In [7]:
sum({1:"Ajay",2:"Amit"}.keys())

3

In [8]:
res = (lambda x: x**2)(4)
res

16

In [9]:
res = (lambda x,y: x**2+y**2)(4,3)
res

25

In [15]:
(lambda **d: sum(d.values())/len(d))(one=1,two=2,three=3)

2.0

In [17]:
op = lambda x,y: "even" if (x+y)%2 == 0 else "odd"
op(3,3)

'even'

In [27]:
l = [2,3,4,5,6]
res = map(lambda x:x**2,l)
res

In [28]:
list(res)

[4, 9, 16, 25, 36]

In [31]:
l = [22,3,4,5,6,12,11]
res = list(filter(lambda x: x**2%5<3 ,l))
res

[4, 5, 6, 11]

In [33]:
from functools import reduce

In [34]:
res = reduce(lambda x,y: x+y,l)
res

63

In [35]:
def outerFun(a, b): # a=5, b=10
    def innerFun(c, d): # c=5, b=10
        return c + d # return 15
    
    return innerFun(a, b) # return iF(5, 10) -> return 15
    return a # this never gets executed

result = outerFun(5, 10)
print(result)

15

In [36]:
class Rectangle:
    def __init__(self,length,width):
        self.l = length
        self.r = width
        
    def area(self):
        result = self.l*self.r
        return result
    
s = Rectangle(4,5)
print(s)

<__main__.Rectangle object at 0x7ff0a4124c88>

In [37]:
s.area()

20

In [39]:
r = Rectangle(6,7)
r.l,r.r

(6, 7)

In [40]:
r.area()

42

In [41]:
if r.area() > s.area():
    print("Rectangle r is bigger")
else:
    print("Rectangle s is bigger")

Rectangle r is bigger

In [42]:
type(Rectangle)

type

In [43]:
isinstance(Rectangle,object)

True

In [46]:
a = set([1, 2, -1, 0, 1, 4])
b = set([9, 1, 2, 8, -5])

# res = set.intersection(a, b) # set.intersection(b, a)
res = a.intersection(b)
res

{1, 2}

In [47]:
a

{-1, 0, 1, 2, 4}

In [53]:
class Rectangle:
    def __init__(self,length,width):
        self.l = length
        self.r = width
        
    def display(self):
        print("Length %s and width is %s " % (self.l,self.r))
        area = self.area()
        return area
    
    def area(self):
        area = self.l*self.r
        return area
    
    def peremater(self):
        peremeter = 2*(self.l+self.r)
        return peremeter
    
s = Rectangle(20,25)

s.l,s.r

(20, 25)

In [54]:
s.display()

Length 20 and width is 25

500

In [56]:
s.area()

500

In [57]:
s.peremater()

90

In [ ]:
fpath = "test.csv"
my_data = []
with open(fpath,'r') as fptr:
    ropen = csv.reader(fptr)
    for line in ropen:
        my_data.append(line)

my_data

In [58]:
import json

In [68]:
info = [{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
        {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
        {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]

In [69]:
info

[{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
 {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
 {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]

In [70]:
f_1 = "test.json"
with open(f_1,'w') as fptr:
    json.dump(info,fptr)

In [72]:
f_1 = "test.json"
my_data=None
with open(f_1,"r") as fptr:
    my_data=json.load(fptr)

In [73]:
my_data

[{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
 {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
 {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]

In [106]:
def fun():
    x  = 1
    print("A")
    yield(x)
    
    print("B")
    x += 1
    yield(x)
    
    print("C")
    x += 1
    yield(x)

In [107]:
res = fun()

In [108]:
res

In [109]:
print(next(res))

A
1

In [110]:
print(next(res))

B
2

In [111]:
print(next(res))

C
3

In [112]:
print(next(res))

StopIteration:

In [2]:
def f(name,fname,lname):
    full_name = "{} {} {}".format(name,fname,lname)
    return full_name
    
f("Ajay","Kumar","Verma")

'Ajay Kumar Verma'

In [3]:
l = [1,2,3,4,5]

def f():
    l.append(7)
f()

In [4]:
l

[1, 2, 3, 4, 5, 7]

In [8]:
def swap(a,b):
    temp = a
    a = b
    b = temp
    
a = 4
b =5
swap(a,b)
a,b

(4, 5)

In [16]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial(4)

24

In [17]:
def add(n):
    if n == 0:
        return 0
    else:
        return n+add(n-1)
    
add(5)

15

In [21]:
def fibonacci(n):
    if n<=1:
        return n
    elif n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
    
num = int(input("Enter number "))
    
for i in range(num):
    print(fibonacci(i))

Enter number 4
0
1
1
2

In [22]:
def f(a,b,c):
    return a+b+c

f(1,2,3)

6

In [34]:
def add(*args):
    return sum(args)

print(add(1,2,3,4))

print(add(1,2,3,4,6))

print(add(1,2,3,4,7,8))

list1 = [1,2,3,4,5,6,7]

tuple1 = (1,2,3,4,5,6,7)
print(add(*list1))
print(add(*tuple1))

10
16
25
28
28

In [31]:
def f(a1,a2,a3):
    print("1 :",a1)
    print("2 :",a2)
    print("3 :",a3)
    
x = [2,3]

f(1,*x)

1 : 1
2 : 2
3 : 3

In [35]:
def f(**kwargs):
    print(kwargs)
    
    
f(Name="Ajay",Age=27,clg="IPS")

{'Name': 'Ajay', 'Age': 27, 'clg': 'IPS'}

In [1]:
def f(**kwargs):
    for key,value in kwargs.items():
        print("{} - {}".format(key,value))
    
    
f(Name="Ajay",Age=27,clg="IPS")

Name - Ajay
Age - 27
clg - IPS

In [5]:
def f(ID,*args,status=1,**kwargs):
    print("ID Number :-",ID)
    print("Sum of Integer :-",sum(args))
    print("Status :-",status)
    print("Details of Person :-",kwargs)
    
    
x = 1    
list1 = [1,2,3,4]
dict1 = {'name':"AjAY",'Age':27,'clg':"IPS Academy"}

f(x,*list1,**dict1)

ID Number :- 1
Sum of Integer :- 10
Status :- 1
Details of Person :- {'name': 'AjAY', 'Age': 27, 'clg': 'IPS Academy'}

In [6]:
res = lambda x,y:x+y
print(res(4,5))

9

In [7]:
res = lambda x,y:x*y
print(res(4,5))

20

In [8]:
res = lambda x:10+x
print(res(4))

14

In [9]:
res = lambda x,y,z:x+y+z
print(res(4,5,7))

16

In [19]:
res = lambda *args:sum(args)

res(1,2,3,4),res(1,2,3,4,6,7,8)

(10, 31)

In [21]:
res = lambda **kwargs:sum(kwargs.values())

res(a=4,b=3,c=6)

13

In [22]:
def f(n):
    return lambda a: a+n

add1 = f(5)
print(add1(7))

12

In [29]:
l1 = [1,2,3,4,5,6]
def odd(n):
    if n%2==1:
        return True
    else:
        return False
        
x = list(filter(odd,l1))

print(x)

[1, 3, 5]

In [31]:
l1 = [1,2,3,4,5,6,7]
res = list(filter(lambda x: x%2==1,l1))
res

[1, 3, 5, 7]

In [32]:
l1 = [1,2,3,4,5,6,7]

res = list(map(lambda x:x*2,l1))
res

[2, 4, 6, 8, 10, 12, 14]

In [33]:
from functools import reduce

l1 = [1,2,3,4]

res = reduce(lambda a,b:a+b,l1)
res

10

In [39]:
l1 = ['one','two','three','four','FIVE']

res = list(filter(lambda x:x.isupper(),l1))
res

['FIVE']

In [1]:
class Variables:
    var1 = 10
    
obj = Variables()
print(obj.var1)

10

In [12]:
class Employee:
    def __init__(self,empID,empName):
        self.empID = empID
        self.empName = empName
        
    def details(self):
        print("Name of employee is :- {}".format(self.empName))
        
        
obj = Employee(102,"Ajay")

obj.details()

print("Emp ID :- ",obj.empID)

print("Emp NAME :- ",obj.empName)

Name of employee is :- Ajay
Emp ID :-  102
Emp NAME :-  Ajay

In [13]:
obj.empName = "AMIT KUMAR"

print(obj.empName)

AMIT KUMAR

In [14]:
obj.details()

Name of employee is :- AMIT KUMAR

In [15]:
obj.country = 'India'

In [16]:
obj.country

'India'

In [17]:
class Person:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def personInfo(self):
        print("Name :-",self.name)
        print("Age :-",self.age)
        print("Gender :-",self.gender)
        
class Student(Person):
    def __init__(self,name,age,gender,studId,fee):
        Person.__init__(self,name,age,gender)
        self.studId = studId
        self.fee = fee
        
    def studentInfo(self):
        print("Student ID :-",self.studId)
        print("Fee of School :-",self.fee)
        
    
class Teacher(Person):
    def __init__(self,name,age,gender,EmpId,Salary):
        Person.__init__(self,name,age,gender)
        self.EmpId = EmpId
        self.Salary = Salary
        
    def EmployeeInfo(self):
        print("Employee id :-",self.EmpId)
        print("Salary of Teacher :-",self.Salary)
        

Student1 = Student("Ajay",27,"Male",101,15900)

print("Student details :-")
print("---------------------------")


Student1.personInfo()

Student1.studentInfo()

print(" ")

Emp1 = Teacher("Amit",30,"Male",1011,50000)
print("Employee details :-")
print("---------------------------")


Emp1.personInfo()

Emp1.EmployeeInfo()

Student details :-
---------------------------
Name :- Ajay
Age :- 27
Gender :- Male
Student ID :- 101
Fee of School :- 15900

Employee details :-
---------------------------
Name :- Amit
Age :- 30
Gender :- Male
Employee id :- 1011
Salary of Teacher :- 50000

In [21]:
class Person:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def personInfo(self):
        print("Name :-",self.name)
        print("Age :-",self.age)
        print("Gender :-",self.gender)
        
class Student(Person):
    def __init__(self,name,age,gender,studId,fee):
        super().__init__(name,age,gender)
        self.studId = studId
        self.fee = fee
        
    def StudentInfo(self):
        super().personInfo()
        print("Student Id :-",self.studId)
        print("Fee :-",self.fee)
        
std1 = Student("Ajay",27,"Male",101,15000)

std1.StudentInfo()

Name :- Ajay
Age :- 27
Gender :- Male
Student Id :- 101
Fee :- 15000

# Multi-Level Inheritance

In [27]:


class Person:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def personInfo(self):
        print("Name :-",self.name)
        print("Age :-",self.age)
        print("Gender :-",self.gender)
        
class Employee(Person):
    def __init__(self,name,age,gender,EmpId,salary):
        Person.__init__(self,name,age,gender)
        self.EmpId = EmpId
        self.salary = salary
        
    def EmpInfo(self):
        print("Emp Id :-",self.EmpId)
        print("Salary :-",self.salary)
        
        
class FullTime(Employee):
    def __init__(self,name,age,gender,EmpId,salary,workExp):
        Employee.__init__(self,name,age,gender,EmpId,salary)
        self.workExp = workExp
        
    def fullTimeWork(self):
        print("Experience :-",self.workExp)
        

class Contractual(Employee):
    def __init__(self,name,age,gender,EmpId,salary,ContrWork):
        Employee.__init__(self,name,age,gender,EmpId,salary)
        self.ContrWork = ContrWork
        
    def ContrInfo(self):
        print("Work ExpDate :-",self.ContrWork)
        
        
Emp1 = FullTime("Ajay",27,"Male",101,15000,"12 Years")


print("Employee Info1 :-")
print("------------------")
Emp1.personInfo()

Emp1.EmpInfo()

Emp1.fullTimeWork()

print("")

Emp2 = Contractual("Amit",25,"Male",102,25000,"05-10-2022")
print("Employee Info2 :-")
print("-------------------")
Emp2.personInfo()
Emp2.EmpInfo()
Emp2.ContrInfo()

Employee Info1 :-
------------------
Name :- Ajay
Age :- 27
Gender :- Male
Emp Id :- 101
Salary :- 15000
Experience :- 12 Years

Employee Info2 :-
-------------------
Name :- Amit
Age :- 25
Gender :- Male
Emp Id :- 102
Salary :- 25000
Work ExpDate :- 05-10-2022

In [30]:
class Parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def greet(self):
        print("Hello parent")
        
        
class Child(Parent):
    def __init__(self,name,age,gender):
        Parent.__init__(self,name,age)
        self.gender = gender
        
    def greet(self):
        print("Hello Child")
        
child1 = Child('Ajay',27,"male")

child1.greet()


parent1 = Parent("Papa Ji",54)
parent1.greet()

Hello Child
Hello parent

In [10]:
#Iterator


my_list = ["Ajay","Amit","Sumit"]

x1 = iter(my_list)


print(next(x1))
print(next(x1))
print(next(x1))
print(next(x1))

Ajay
Amit
Sumit

StopIteration:

In [13]:
my_list = ["Ajay","Amit","Sumit"]
list_1 = iter(my_list)
print(list_1.__next__())
print(list_1.__next__())

print(list_1.__next__())
print(list_1.__next__())

Ajay
Amit
Sumit

StopIteration:

In [14]:
my_list = ["Ajay","Amit","Sumit"]

list1 = iter(my_list)

for i in list1:
    print(i)

Ajay
Amit
Sumit

In [15]:
s1 = "Hello Python"
for i in s1:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [2]:
class MyIter:
    def __init__(self):
        self.num = 0
        
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        if self.num <= 10:
            val =self.num
            self.num += 1
            return val
        else:
            raise StopIteration
    
        
my_obj = MyIter()

iter1 = iter(my_obj)

for i in iter1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
class MyIter:
    def __init__(self):
        self.num = 0
        
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        if self.num <= 20:
            val = self.num
            self.num += 2
            return val
        else:
            raise StopIteration
            
        
my_obj = MyIter()
iter1 = iter(my_obj)
for i in iter1:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
class Myiter:
    def __init__(self):
        self.pre = 0
        self.cur = 0
        
    def __iter__(self):
        self.pre = 0
        self.cur = 1
        return self
    
    def __next__(self):
        if self.cur <= 50:
            val = self.cur
            self.cur += self.pre
            self.pre = val
            return val
        else:
            raise StopIteration
            
            
my_obj  = Myiter()
iter1 = iter(my_obj)
for i in iter1:
    print(i)

1
1
2
3
5
8
13
21
34

In [2]:
def gen():
    n = 1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
    
obj = gen()

print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

1
2
3
4

StopIteration:

In [5]:
def gen():
    for i in range(1,10):
        yield i
        
obj = gen()
for i in obj:
    print(i)
#print(next(obj))

1
2
3
4
5
6
7
8
9

In [6]:
def gen():
    for i in range(1,20):
        if i%2 == 0:
            yield i
            
            
obj = gen()
for i in obj:
    print(i)

2
4
6
8
10
12
14
16
18

In [9]:
def fibo():
    num1,num2 = 0,1
    count =0
    while count < 10:
        yield num1
        num1,num2 = num2,num1+num2
        count += 1
        
obj = fibo()

for i in obj:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [10]:
l1 = list(fibo())
l1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [23]:
l1 = (i*i for i in range(1,7))
l1

In [24]:
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))

1
4
9
16
25
36

StopIteration:

In [32]:
l1 = (i for i in range(1,12) if i%2 == 0)
l1

In [33]:
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))

2
4
6
8
10

StopIteration:

In [42]:
def sub(num1,num2):
    res = num1-num2
    return res

obj = sub(4,2)
print(obj)

2

In [43]:
def sub_decorator(func):
    def wrapper(num1,num2):
        if num1 < num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper

obj = sub_decorator(sub)
obj(4,2)

In [49]:
def sub_dec(func):
    def wrapper(num1,num2):
        if num1<num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper
#obj1 = sub_dec(sub)


@sub_dec
def sub(num1,num2):
    res = num1-num2
    return res

obj = sub(2,4)

print(obj)

2

In [56]:
def installWindows():
    print("Install Windows ")
    
def installLinux():
    print("Install Linux")

def installApp():
    print("Install APP...\n")    
    
installWindows()
installLinux()
installApp()

def InstallProcess(func):
    def wrapper():
        print("Term and conditions ...")
        return func()
    
    return wrapper

@InstallProcess
def installWindows():
    print("Install Windows...\n ")
 
@InstallProcess
def installLinux():
    print("Install Linux...\n")

@InstallProcess
def installApp():
    print("Install APP...\n")  
    
installWindows()
installLinux()
installApp()

Install Windows
Install Linux
Install APP...

Term and conditions ...
Install Windows...

Term and conditions ...
Install Linux...

Term and conditions ...
Install APP...

In [57]:
def dec1(func):
    def wrapper():
        print("Term and cond1...")
        return func()
    return wrapper

def dec2(func):
    def wrapper():
        print("Term and cond2...")
        return func()
    return wrapper

@dec1
@dec2
def fun():
    print("Hello Ajay")
    
    
fun()

Term and cond1...
Term and cond2...
Hello Ajay

In [62]:
fileobj = open("test1.txt",'w')
fileobj.write("Hii Ajay How are you")

fileobj.close()

fileobj = open("test1.txt")
fileobj.read()

'Hii Ajay How are you'

In [1]:
s1 = "abcabcaac"
dict1 = {}

for i in s1:
    if i in dict1:
        dict1[i] += 1
    else:
        dict1[i] = 1
        
dict1

{'a': 4, 'b': 2, 'c': 3}

In [4]:
s1 = "abba"
if s1 == s1[::-1]:
    print("Palindorme")
else:
    print("Not a Palndoreme")

Palindorme

In [5]:
s1[::-1]

'abba'

In [9]:
s1 = "abcabcaac"
s2 = "bcaacabca"

dict1 = {}
dict2 = {}
if len(s1) == len(s2):
    for i in s1:
        if i in dict1:
            dict1[i] += 1
        else:
            dict1[i] = 1
    
    for i in s2:
        if i in dict2:
            dict2[i] += 1
        else:
            dict2[i] = 1
            
            
    if dict1 == dict2:
        print("Anagram Number")
    else:
        print("Not an anagram")

else:
    print("Not an anagram")

Anagram Number

In [21]:
def fibo():
    n1,n2 = 0,1
    count = 0
    while count < 8:
        yield n1
        n1,n2 = n2,n1+n2
        count += 1
        
    
obj = fibo()

for i in obj:
    print(i,end=" ")

0 1 1 2 3 5 8 13

In [35]:
class Stack:
    def __init__(self):
        self.values = []
        
    def push(self,element):
        self.values.append(element)
        
    def pop(self):
        if not self.is_empty():
            return self.values.pop(-1)
        else:
            return "Stack is empty"
        
        
    def top_element(self):
        if not self.is_empty():
            return self.values[-1]
        else:
            return "Stack is empty"
    
            
    def is_empty(self):
        if self.values:
            return False
        else:
            return True
    
   
    def display(self):
        print(self.values[::-1])
        
        
    def compare(self,other_stack):
        equal = True
        while not (self.is_empty() or other_stack.is_empty()):
            t1 = self.pop()
            t2 = other_stack.pop()
            
            if t1 != t2:
                return False
        if not (self.is_empty() or other_stack.is_empty()):
            return False
        
        return True

In [42]:
s = Stack() # vertical DS
s.push(30)
s.push(20)
s.push(10)

In [43]:
s.display()

[10, 20, 30]

In [44]:
t = Stack()
t.push(25)
t.push(15)
t.push(11)

In [45]:
t.display()

[11, 15, 25]

In [46]:
s.compare(t)

False

In [47]:
s.top_element()

20

In [49]:
a = [2, 32, 12, -3, 54, 0, 23, -1, 11, 1, 32]

def bubble_sort(a):
    for i in range(len(a)):
        for j in range(i,len(a)):
            if a[j] < a[i]:
                a[i],a[j] = a[j],a[i]

bubble_sort(a)
a

[-3, -1, 0, 1, 2, 11, 12, 23, 32, 32, 54]

In [53]:
a = [12, 89, 13, 32, 53, 23, 45, 82, 11, 4, 35, 17]

def insertion_sort(a):
    for i in range(1,len(a)):
        j = i - 1
        
        key_value = a[i]
        
        while j >= 0 and key_value < a[j]:
            a[j+1] = a[j]
            j -= 1
            
        a[j+1] = key_value
        print(i,": ",a)
        
insertion_sort(a)
a

1 :  [12, 89, 13, 32, 53, 23, 45, 82, 11, 4, 35, 17]
2 :  [12, 13, 89, 32, 53, 23, 45, 82, 11, 4, 35, 17]
3 :  [12, 13, 32, 89, 53, 23, 45, 82, 11, 4, 35, 17]
4 :  [12, 13, 32, 53, 89, 23, 45, 82, 11, 4, 35, 17]
5 :  [12, 13, 23, 32, 53, 89, 45, 82, 11, 4, 35, 17]
6 :  [12, 13, 23, 32, 45, 53, 89, 82, 11, 4, 35, 17]
7 :  [12, 13, 23, 32, 45, 53, 82, 89, 11, 4, 35, 17]
8 :  [11, 12, 13, 23, 32, 45, 53, 82, 89, 4, 35, 17]
9 :  [4, 11, 12, 13, 23, 32, 45, 53, 82, 89, 35, 17]
10 :  [4, 11, 12, 13, 23, 32, 35, 45, 53, 82, 89, 17]
11 :  [4, 11, 12, 13, 17, 23, 32, 35, 45, 53, 82, 89]

[4, 11, 12, 13, 17, 23, 32, 35, 45, 53, 82, 89]

In [56]:
def merge_sort(a):
    if len(a) <= 1:
        return a
    
    mid = len(a)//2
    left = a[:mid]
    right = a[mid:]
    
    left_sort = merge_sort(left)
    right_sort = merge_sort(right)
    
    return merge(left_sort,right_sort)

def merge(l1,l2):
    if not l2:
        return l1
    if not l1:
        return l2
    
    output = []
    while l1 and l2:
        if l1[0] < l2[0]:
            output.append(l1[0])
            l1.pop(0)
        else:
            output.append(l2[0])
            l2.pop(0)
            
    if l1:
        output = output + l1
    else:
        output = output + l2
        
    return output



a = [2, 32, 12, -3, 54, 0, 23, -1, 11, 1, 32]
res = merge_sort(a)
res

[-3, -1, 0, 1, 2, 11, 12, 23, 32, 32, 54]

In [66]:
def binary_search(a,x):
    low = 0
    high = len(a)
    
    while low <= high:
        mid = (low+high)//2
        
        if a[mid] == x:
            print("Found %s at index %s" % (x,mid))
            return
        elif x < a[mid]:
            high = mid -1
        else:
            low = mid+1
            
    print(" %s not found in the array" %(x))
    
a = [-3, -1, 0, 1, 2, 11, 12, 23, 32, 32, 54]
binary_search(a, -24)

for x in a:
    binary_search(a, x)

 -24 not found in the array
Found -3 at index 0
Found -1 at index 1
Found 0 at index 2
Found 1 at index 3
Found 2 at index 4
Found 11 at index 5
Found 12 at index 6
Found 23 at index 7
Found 32 at index 8
Found 32 at index 8
Found 54 at index 10

In [1]:
def ternary_search(a,x):
    low = 0
    high = len(a) -1
    
    while low <= high:
        mid1 = low+(high - low)//3
        mid2 = high-(high-low)//3
        
        if a[mid1] == x:
            print("Found %s at index %s" % (x,mid1))
            return
        elif a[mid2] == x:
            print("Found %s at index %s" % (x,mid2))
            return
        
        elif x < a[mid1]:
            high = mid1
        elif x > a[mid2]:
            low = mid2+1
        else:
            high = mid1+1
            low = mid2-1

a = [-3, -1, 0, 1, 2, 11, 12, 23, 32, 54]
# ternary_search(a, -1)
for x in a:
    ternary_search(a, x)

Found -3 at index 0
Found -1 at index 1
Found 0 at index 2
Found 1 at index 3
Found 12 at index 6
Found 23 at index 7
Found 32 at index 8
Found 54 at index 9

In [100]:
class Stacks:
    def __init__(self):
        self.values= []
    
    def push(self,element):
        self.values.append(element)
        
    def pop(self):
        if not self.is_empty():
            return self.values.pop(-1)
        else:
            return "Stack is empty"
        
    def display(self):
        if not self.is_empty():
            return self.values[::-1]
        else:
            return "Stack is empty"
        
    def top_element(self):
        if not self.is_empty():
            return self.values[-1]
        else:
            return "stack is empty"
    
    def is_empty(self):
        if self.values:
            return False
        return True
    
    def compare(self,other_stack):
        equal = True
        while not(self.is_empty() and other_stack.is_empty()):
            t1 = self.pop()
            t2 = other_stack.pop()
            
            if t1 != t2:
                return False
        if not (self.is_empty() and other_stack.is_empty()):
            return False
        
        return True

In [101]:
s = Stack()

In [102]:
s.push(10)
s.push(20)
s.push(30)
s.push(40)

In [103]:
s.display()

[40, 30, 20, 10]

In [104]:
s.top_element()

40

In [105]:
s.is_empty()

False

In [106]:
s.pop()

40

In [94]:
t = Stack()

In [95]:
t.push(10)
t.push(20)
t.push(30)
t.push(40)

In [96]:
s.compare(t)

True

In [97]:
s.top_element()

'Stack is empty'

In [98]:
s.is_empty()

True

In [99]:
s.pop()

'Stack is empty'

In [4]:
class Node:
    def __init__(self,data):
        self.value = data
        self.ptr = None
        
    def display(self,data):
        print("Name %s and id value %s" % (self.value,id(self.ptr)))

In [5]:
N1 = Node("Virat")
N2 = Node("Rohit")

N1.ptr = N2
print(N1.value,id(N1.ptr))
print(N2.value,N2.ptr,id(N2))

Virat 140404562973216
Rohit None 140404562973216

In [45]:
class LinkedList:
    def __init__(self,data):
        self.head = Node(data)
        
    def add(self,element):
        new_node = Node(element)
        p = self.head
        while p.ptr:
            p = p.ptr
        p.ptr = new_node
        
    def display(self):
        p = self.head
        while p:
            print(p.value,end="-->")
            p = p.ptr
            
    def is_empty(self):
        if self.head:
            return False
        return True
    
    def head_ele(self):
        print(self.head.value)
        
    def search(self,value):
        p = self.head
        while p:
            if p.value== value:
                return True
            p = p.ptr
        return False
    
    def update(self,value,new_value):
        p = self.head
        while p:
            if p.value == value:
                p.value = new_value
                return 
            p = p.ptr
        print("New Value is %s" %(new_value))
        
        self.display()

In [46]:
l = LinkedList("Hariom")

In [47]:
l.add("Sumit")

In [48]:
l.add("Amit")

In [49]:
l.display()

Hariom-->Sumit-->Amit-->

In [50]:
l.is_empty()

False

In [51]:
l.head_ele()

Hariom

In [53]:
l.search("Hariom")

True

In [54]:
l.update("Amit","Amit Kumar Verma")

In [55]:
l.display()

Hariom-->Sumit-->Amit Kumar Verma-->

In [120]:
class Node:
    def __init__(self,value):
        self.data = value
        self.left = None
        self.right = None
        
    def level_order_traversal(self):
        values = []
        values.append(self)
        
        while values:
            cur_node = values.pop(0)
            print(cur_node.data, end=" -- ")
            
            if cur_node.left:
                values.append(cur_node.left)
            if cur_node.right:
                values.append(cur_node.right)

In [125]:
def in_order_traversal(node):
    if not node:
        return

    in_order_traversal(node.left)
    print(node.data)
    in_order_traversal(node.right)

def left_order_traversal(node):
    if not node:
        return
    
    print(node.data)
    left_order_traversal(node.left)
    left_order_traversal(node.right)

    
def right_order_traversal(node):
    if not node:
        return
    
    left_order_traversal(node.left)
    left_order_traversal(node.right)
    print(node.data)

In [126]:
root = Node(1)
root.left = Node(7)
root.right = Node(9)
root.left.left = Node(2)
root.left.right = Node(6)
root.right.right = Node(19)

In [127]:
root.level_order_traversal()

1 -- 7 -- 9 -- 2 -- 6 -- 19 --

In [128]:
in_order_traversal(root)

2
7
6
1
9
19

In [129]:
left_order_traversal(root)

1
7
2
6
9
19

In [130]:
right_order_traversal(root)

7
2
6
9
19
1

In [133]:
class Node:
    def __init__(self,value):
        self.data = value
        self.left = None
        self.right = None
        
    def level_order_traversal(self):
        values = []
        values.append(self)
        while values:
            cur_node = values.pop(0)
            print(cur_node.data, end=" -- ")

            if cur_node.left:
                values.append(cur_node.left)
            if cur_node.right:
                values.append(cur_node.right)
                
    def insert(self,element):
        new_node = Node(element)
        
        values = []
        values.append(self)
        while values:
            cur_node = values.pop(0)
            
            if cur_node.left:
                values.append(cur_node.left)
            else:
                cur_node.left = new_node
                return
            
            if cur_node.right:
                values.appenf(cur_node.right)
            else:
                cur_node.right = new_node
                return

In [134]:
root = Node(1) # Empty tree -> root node
root.insert(7) # LC of 1
root.insert(9) # RC of 1

In [136]:
root.level_order_traversal()

1 -- 7 -- 9 --

In [ ]:
BST:-
* An improved version of BT
* It follows a mathematical ordering of nodes
    * Value of left child will always be less than the value of its parent
    * Value of right child will always be greater than the value of its parent
* No duplicates

In [154]:
class Node:
    def __init__(self,value=-1):
        self.data = value
        self.left = None
        self.right = None
        
def insert(root,value):
    if not root:
        return Node(value)
    
    if root.data > value:
        root.left = insert(root.left,value)
    else:
        root.right = insert(root.right,value)
        
    return root


def search(root,value):
    if root.data == value:
        return root
    
    if root.data > value:
        return search(root.left,value)
    else:
        return search(root.right,value)

In [155]:
root = Node(8)
root = insert(root, 3) # r.l = insert(r, 3), r.r = insert(r, 10) -> No No
root = insert(root, 10)
root = insert(root, 1)
root = insert(root, 6)
root = insert(root, 14)

In [158]:
x =search(root, 10)
x.data

10

In [1]:
all_data = {1234: 
                {"name": "Virat", "grade": "X", "section": "B"},
            1235:
                {"name": "Dhoni", "grade": "X", "section": "B"},
            1238:
                {"name": "Dhoni", "section": "B", "grade": "X"}}


for k,v in all_data.items():
    if v["name"] == "Dhoni":
        print(k)

1235
1238

In [2]:
str_data = "abcdefg"
l_data = list(str_data)

In [3]:
l_data

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [4]:
"".join(l_data)

'abcdefg'

In [1]:
12.5//2

6.0

In [2]:
12//2

6

In [3]:
12.0//2

6.0

In [4]:
12//5

2

In [5]:
# Difference between is and ==
l = [1, 2, 3]
l2 = l

l is l2 # memory locations are compared

True

In [6]:
l == [1, 2, 3] # values are compared

True

In [7]:
l3 = [1] + [2] + [3]
l3

[1, 2, 3]

In [8]:
l is l3

False

In [9]:
l == l3

True

In [12]:
list_of_values = ["virat", "dhoni", "chahar", "rasheed"]

while list_of_values:
    x = list_of_values.pop(0)
    print(x)

virat
dhoni
chahar
rasheed

In [13]:
x.upper()

'RASHEED'

In [14]:
data = ("virat", "dhoni", "chahar", "rasheed")
for t in enumerate(data):
    print(t)

(0, 'virat')
(1, 'dhoni')
(2, 'chahar')
(3, 'rasheed')

In [17]:
for i in enumerate(data):
    index,value = i
    print("Index :",index)
    print("Value :",value)

Index : 0
Value : virat
Index : 1
Value : dhoni
Index : 2
Value : chahar
Index : 3
Value : rasheed

In [18]:
data = ["abc", "def", "ghi", "jkl"]
while len(data):
    x = data.pop(0)
    print(x)

abc
def
ghi
jkl

In [19]:
list(range(2, 40, 3)) # [l, l+2, l+4, ..., ]

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38]

In [20]:
data = ["virat", "dhoni", "rohit sharma", "chahar", "SACHIN"]
# index  0         1           2            3          4

# task 1 - print all the elements in data in upper case
for name in data:
    print(name.upper())

VIRAT
DHONI
ROHIT SHARMA
CHAHAR
SACHIN

In [21]:
vowels = ["a", "e", "i", "o", "u"]

for name in data:
    ch = name[1]
    if ch.lower() in vowels:
        print(name)

virat
rohit sharma
SACHIN

In [22]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar", "sachin tendulkar"]
vowels = ["a", "e", "i", "o", "u"]

for name in data:
    x = name[1].lower()
    y = name[4].lower()
    if x in vowels:
        if y in vowels:
            print(name.upper())
        else:
            print(name.lower())
            
    else: # x is not a vowel
        if y in vowels:
            print(name.lower())
        else: # both are not vowels
            print("skip")

virat
dhoni
rohit sharma
chahar yuzi
SACHIN TENDULKAR
SACHIN TENDULKAR

In [24]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar"]

for name in data:
    if name == "Rohit Sharma":
        continue
    
    print(name)

Virat
Dhoni
Chahar Yuzi
Sachin Tendulkar

In [25]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar"]

for name in data:
    if name == "Rohit Sharma":
        break
    
    print(name)

Virat
Dhoni

In [2]:
'Virat Kohli'.istitle()

True

In [3]:
'virat kohli'.title()

'Virat Kohli'

In [5]:
s = "virat kohli"
s.count('i')

2

In [6]:
s.index("kohli")

6

In [7]:
s.replace("v","V")

'Virat kohli'

In [8]:
msg = "Hi. I am Virat Kohli, the ex-captain of the indian team"
msg

'Hi. I am Virat Kohli, the ex-captain of the indian team'

In [9]:
msg1 = msg.split(" ")

In [11]:
print(msg1)

['Hi.', 'I', 'am', 'Virat', 'Kohli,', 'the', 'ex-captain', 'of', 'the', 'indian', 'team']

In [12]:
msg.index("Virat")

9

In [13]:
msg_back=""

for word in msg1:
    msg_back = msg_back+word+ " $$ "
msg_back

'Hi. $$ I $$ am $$ Virat $$ Kohli, $$ the $$ ex-captain $$ of $$ the $$ indian $$ team $$ '

In [16]:
delimiter= " $$ "
msg_back1 = delimiter.join(msg1)

In [17]:
msg_back1

'Hi. $$ I $$ am $$ Virat $$ Kohli, $$ the $$ ex-captain $$ of $$ the $$ indian $$ team'

In [18]:
new_msg = " ".join(msg1)

In [19]:
new_msg

'Hi. I am Virat Kohli, the ex-captain of the indian team'

In [20]:
s = "Sherlock"
s[-4:-1]

'loc'

In [21]:
s[-4:]

'lock'

In [22]:
s[:-1]

'Sherloc'

In [23]:
s[-5: -1: 1]

'rloc'

In [24]:
s[-1: -5: 1] # h to l -> climb -> NO

''

In [25]:
s[-8::2] # s[pos_index:]

'Selc'

In [26]:
s[-8:-1:2] # [-8, -1) -> -8, -6, -4, -2

'Selc'

In [28]:
s[:-1:2] # neg indices -1 (end) and -8 (begining)

'Selc'

In [29]:
s[::-1]

'kcolrehS'

In [30]:
s[::1]

'Sherlock'

In [32]:
s[::]

'Sherlock'

In [33]:
rev_s = "kcolrehS"
rev_s[::1]

'kcolrehS'

In [34]:
# neg step size -> "kcolrehS" -> "kcolrehS"[::2]
s[::-2] # go reverse to remove the negative sign of step size

'korh'

In [35]:
print(s[:4]) # [0, 4) -> Sher
print(s[:-4]) # [-8, -4) -> Sher

Sher
Sher

In [38]:
s = "ababa"
if s == s[::-1]:
    print("Palindrome")
else:
    print("Non Palindrome")

Palindrome

In [45]:
s1 = "abcdabgh1@23"
s2 = "aabg1b2c3dh@"

dict1 = {}
dict2 = {}

if len(s1) == len(s2):
    for ch in s1:
        if ch in dict1:
            dict1[ch] += 1
        else:
            dict1[ch] = 1
    
    for ch1 in s2:
        if ch1 in dict2:
            dict2[ch1] += 1
        else:
            dict2[ch1] = 1
    
    if dict1 == dict2:
        print("Anagarame")
    else:
        print("Not anagram")
        
else:
    print("No anagram")

Anagarame

In [46]:
{1, 2, 3, 4} - {1, 2}

{3, 4}

In [47]:
l = [10, 20, 30, 40]
print(l[2]) # Search -> O(1)
print(l.index(20)) # Search -> O(n)
l.append(50) # Update -> O(1) or O(n) is also an acceptable ans
print(l)
l.remove(30) # Delete -> O(n)
print(l)

30
1
[10, 20, 30, 40, 50]
[10, 20, 40, 50]

# Lists - builtin functions

In [48]:
l = [10, -20, 30, 40, 213, -123, -20]

In [49]:
# Search
l[0]

10

In [50]:
30 in l # better way of searching

True

In [51]:
l.index(-20)

1

In [52]:
l.append(123) #update

In [53]:
l.insert(3, -35)

In [54]:
l

[10, -20, 30, -35, 40, 213, -123, -20, 123]

In [55]:
l2 = [1, 2, 3]
l.extend(l2)

In [56]:
l

[10, -20, 30, -35, 40, 213, -123, -20, 123, 1, 2, 3]

In [57]:
l.append(l2)

In [58]:
l

[10, -20, 30, -35, 40, 213, -123, -20, 123, 1, 2, 3, [1, 2, 3]]

In [59]:
l.insert(5, l2)

In [60]:
l

[10, -20, 30, -35, 40, [1, 2, 3], 213, -123, -20, 123, 1, 2, 3, [1, 2, 3]]

In [61]:
l[5].append(10)

In [63]:
print(l)

[10, -20, 30, -35, 40, [1, 2, 3, 10], 213, -123, -20, 123, 1, 2, 3, [1, 2, 3, 10]]

In [64]:
l = [10, -20, 30, -35, 40, 213, -123, -20, 123, -35, 1, 2, 3]
l.sort()

In [65]:
l

[-123, -35, -35, -20, -20, 1, 2, 3, 10, 30, 40, 123, 213]

In [66]:
l = [10, -20, 30, -35, 40, 213, -123, -20, 123, -35, 1, 2, 3]
l.sort(reverse=True)
l

[213, 123, 40, 30, 10, 3, 2, 1, -20, -20, -35, -35, -123]

In [67]:
l = [10, -20, 30, -35, 40, 213, -123, -20, 123, -35, 1, 2, 3]
l.reverse() # l[::-1]

In [68]:
l

[3, 2, 1, -35, 123, -20, -123, 213, 40, -35, 30, -20, 10]

In [ ]:
# Delete - In code Be very**100 careful

In [69]:
l = [10, -20, 30, -35, 40, 213, -123, -20, 123, -35, 1, 2, 3]
v = l.pop()
print(l)
print(v)

[10, -20, 30, -35, 40, 213, -123, -20, 123, -35, 1, 2]
3

In [70]:
v = l.pop(3)
print(l)
print(v)

[10, -20, 30, 40, 213, -123, -20, 123, -35, 1, 2]
-35

In [73]:
l = [10, -20, 30, -35, 40, 213, -123, -20, 123, -35, 1, 2, 3]

i = l.remove(-35) # no return
print(l)
print(i)

[10, -20, 30, 40, 213, -123, -20, 123, -35, 1, 2, 3]
None

In [74]:
del l[4]

In [75]:
l

[10, -20, 30, 40, -123, -20, 123, -35, 1, 2, 3]

In [76]:
l.clear()

In [77]:
l

[]

In [78]:
del l # free up the memory and its reference

In [79]:
l # does not exist

NameError: name 'l' is not defined

In [81]:
s = "abcdkasmcnkasmdsdasdas" # len of s is n # avg test case
dict1 = dict()

for ch in s:
    if ch in dict1:
        dict1[ch] += 1
    else:
        dict1[ch] = 1
dict1

{'a': 5, 'b': 1, 'c': 2, 'd': 4, 'k': 2, 's': 5, 'm': 2, 'n': 1}

In [83]:
#fibonacci

x = 1
y = 1
print(x,y,end=" ")
while True:
    z = x+y
    x = y
    y = z
    if z > 50:
        break
    print(z,end=" ")

1 1 2 3 5 8 13 21 34

# List Comprehension

In [ ]:
Why
* It is crisp (in doing operations)
* It applies to all sequence types (but not str)
* It is used a lot in dealing with large data

In [84]:
# List comprehension looks like:-
    
b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
c = [i**2%3*10 for i in range(10)]

In [87]:
names = ["ronaldo", "messi", "debala", "neymar", "pele"]
# task - list comprehend and get lengths of each name
l = [len(i) for i in names]
l

[7, 5, 6, 6, 4]

In [91]:
res2 = [i**2  if i%2 == 0 else i**3 for i in range(10)]
res2

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

# Set

In [92]:
a = set([1, 2, 3])
b = {1, 2, 1, 2 ,4 ,6 ,6 ,7 , 8, 32, 12, 12,1}

In [93]:
a

{1, 2, 3}

In [94]:
b

{1, 2, 4, 6, 7, 8, 12, 32}

In [95]:
c = a - b # set A - set B
c # {3}

{3}

In [96]:
# Set - builtin functions

res = a.union(b) # OR operation -> b.union(a)
res

{1, 2, 3, 4, 6, 7, 8, 12, 32}

In [97]:
res = a.intersection(b) # AND -> b.intersection(a)
res

{1, 2}

In [98]:
set.union(a,b)

{1, 2, 3, 4, 6, 7, 8, 12, 32}

In [100]:
c = {-123, 123, 321, 21, 2, 1}
set.union(a, b, c)

{-123, 1, 2, 3, 4, 6, 7, 8, 12, 21, 32, 123, 321}

In [101]:
set.intersection(a, b, c)

{1, 2}

In [102]:
a.difference(b) # a - b

{3}

In [103]:
b.symmetric_difference(a) # (a-b) union (b-a)

{3, 4, 6, 7, 8, 12, 32}

In [104]:
res = set.difference(a, b, c)
# t = a - b
# res = t - c
res

{3}

In [ ]:
# Sets are always HASHED (ordered -< do not mistake it for sorting)

In [105]:
# Search
21 in c

True

In [106]:
# Update

# a.append(4) -> No no -> Cant control the behaviour of a set
c.add(34)

In [107]:
print(c, id(c))

{321, 2, 1, 34, -123, 21, 123} 139951670701408

In [108]:
# Delete:-
  
res = c.remove(21)
print(res)

None

In [ ]:
res = c.pop() # never used it in life
print(res)

In [109]:
c.clear()

In [110]:
c

set()

In [114]:
c = {-123, 1, 2, 123}

In [112]:
del c

In [113]:
c

NameError: name 'c' is not defined

In [115]:
a = {1, -123, 7}

In [116]:
if a < c:
    print("yes")
else:
    print("false")

false

In [117]:
a.issubset(c), c.issuperset(a)

(False, False)

# Hashing

In [2]:
d = {"virat": 112, "ms": 1232, "chahal": -123}

In [3]:
d.keys()

dict_keys(['virat', 'ms', 'chahal'])

In [4]:
d.values()

dict_values([112, 1232, -123])

In [5]:
for k,v in d.items():
    print (k,v)

virat 112
ms 1232
chahal -123

In [7]:
d["virat"], d.get("virat")

(112, 112)

In [8]:
#searching

# Search:-
"virat" in d

True

In [9]:
# Update:-
d["Yuvi"] = 145

In [10]:
d

{'virat': 112, 'ms': 1232, 'chahal': -123, 'Yuvi': 145}

In [12]:
d["Yuvi"] = 321

In [13]:
d

{'virat': 112, 'ms': 1232, 'chahal': -123, 'Yuvi': 321}

In [14]:
d1 = {"a": 1, "b": 23, "c": 12, "d": 12}
d2 = {"a": 2, "e": 3, "d": -12}

d1.update(d2) # d2 will overwrite d1 and extend d1

In [15]:
d1

{'a': 2, 'b': 23, 'c': 12, 'd': -12, 'e': 3}

In [18]:
# task - revert a dictionary
d1 = {'a': 2, 'b': 23, 'c': 12, 'd': -12, 'e': 3}
res = {}
for k,v in d1.items():
    res[v] = k
res

{2: 'a', 23: 'b', 12: 'c', -12: 'd', 3: 'e'}

In [19]:
#dict comprehension
res2 = {v:k for k, v in d1.items()}
res2

{2: 'a', 23: 'b', 12: 'c', -12: 'd', 3: 'e'}

In [20]:
res == res2, res is res2

(True, False)

In [21]:
d1 = {'a': 2, 'b': 23, 'c': 12, 'd': -12, 'e': 3, 'f': 23}
res = {}

for k, v in d1.items():
    res[v] = k # f,23 then b,23 -> 23:b (and vice versa)

In [22]:
res

{2: 'a', 23: 'f', 12: 'c', -12: 'd', 3: 'e'}

In [ ]:
# Delete

In [23]:
d1

{'a': 2, 'b': 23, 'c': 12, 'd': -12, 'e': 3, 'f': 23}

In [24]:
res = d1.pop("a")
res

2

In [25]:
d1

{'b': 23, 'c': 12, 'd': -12, 'e': 3, 'f': 23}

In [26]:
res = d1.pop("a", "key not present") # -1, None, 0, False
res # always use the 2nd parameter with pop

'key not present'

In [27]:
d1.clear()

In [28]:
d1

{}

In [29]:
del d1

In [30]:
d1

NameError: name 'd1' is not defined

In [31]:
d1 = {'b': 23, 'c': 12, 'd': -12, 'e': 3, 'f': 23}

In [32]:
d1.popitem() # delete random key value pair

('f', 23)

In [ ]:
* What all can be used as keys in dictionary?
(OR)
* What all can you hashhhhh?
 
int - yes
float - yes
bool - yes
str - yes
list - no
tuple - yes
set - no
dict - no
dict_keys - yes
dict_values - no

In [33]:
d = {True: 1, False:0, True:23}
d

{True: 23, False: 0}

In [34]:
d = {[1,2]: "two", [1,2,3]: "three", [2,3,4,5]: "four"}
d

TypeError: unhashable type: 'list'

In [35]:
d = {(1,2): "two", (1,2,3): "three", (2,3,4,5): "four"}
d

{(1, 2): 'two', (1, 2, 3): 'three', (2, 3, 4, 5): 'four'}

In [36]:
d = { {1,2}: "yes", {2,3}: "no"}
d

TypeError: unhashable type: 'set'

In [37]:
d = {{"virat": "kohli"}: "captain", {"ms": "dhoni"}: "keeper"}
d

TypeError: unhashable type: 'dict'

In [ ]:
# Hashing (OS):-

In [38]:
d = {"virat": 112, "ms": 1232, "chahal": -123}
d

{'virat': 112, 'ms': 1232, 'chahal': -123}

# function

In [39]:
def print_msg(name): # parameters
    msg = "Hi: " + name
    return msg
    
res = print_msg("Virat") # arguments

In [40]:
res

'Hi: Virat'

In [41]:
def fun(x, y):
    res1 = x**y
    res2 = y**x
    return res1 > res2

a = 2
b = 5
res = fun(a, b) # order matters
print(res)

True

In [42]:
z = 25 # gs

def fun(x, y): # x, y, res1, res2 local scopes
    res1 = x**y
    res2 = y**x
    return res1 > res2

a = 2 # gs
b = 5 # gs
res = fun(a, b) # res gs
print(res)

True

In [ ]:
Pass by value & Pass by reference:-

Pass by value:-
* Mech to pass parameters to a function by value
* Any modification inside the function does not affect the
  global variables

In [43]:
def no_modify(x):
    print(x)
    x = 25
    print(x)

y = 10
no_modify(y) # int, float, bool is passed by value
print(y)

10
25
10

In [ ]:
Pass by reference:-
* Its a mech by which a new_reference is created to an existing value
* Sequence types are PBR - list, tuple, set, str, dict
* Objects are PBR

Adv:-
* Space saver

Disadv:-
* Affects the global vars (updated without knowledge- UHHHH)

In [44]:
def modify(list_a):
    print(id(list_a))
    list_a.append(25)
    
a = [1, 23, 12, 323]
print(id(a))
print(a)
modify(a)
print(a)

140010219443712
[1, 23, 12, 323]
140010219443712
[1, 23, 12, 323, 25]

In [46]:
def modify(x):
    print(id(x))
    x.add(25)
    
a = {1, 23, 12, 323}
print(id(a))
print(a)
modify(a) # IF PBV - set(a), a.copy()
print(a)

140010219954464
{1, 323, 12, 23}
140010219954464
{1, 323, 12, 23, 25}

In [47]:
def modify(x):
    print(id(x))
    x = x + " world"
    print(id(x))
    print(x)

    
a = "hello"
print(id(a))
print(a)
modify(a)
print(a)

140010809926256
hello
140010809926256
140010219889968
hello world
hello

In [48]:
# list, tuple, int
#  PBR,   PBR, PBV

def fun(y):
    pass # use when we dont know what the behaviour

In [49]:
x = 25
res = fun(x)
print(res)

None

In [50]:
# C1
def f(value):
    print(id(value))
    value.append(25)
    print(id(value))
    print(value)
    
a = [1, 10, 30, 12]  # sequence types - PBR
print(id(a))
print(a)
f(a) #.copy()) # PBR by default | PBV - a.copy(), list(a), a[:]
print(a)

140010219701632
[1, 10, 30, 12]
140010219701632
140010219701632
[1, 10, 30, 12, 25]
[1, 10, 30, 12, 25]

In [ ]:
PBR:-
Categories
C1: list, set, dict -> modify in function -> change is reflected to GV
    * How to PBV?
       list - a.copy(), list(a), a[:]
       set - a.copy(), set(a)
       dict - a.copy(), dict(a)
C2: tuple, str -> modify in function -> change is not reflected to GV

In [52]:
# Analogy for PBV, PBR without functions
a = 10
b = a # PBV
# print(id(b))
# b += 1
# print(id(b))
# ---
l = [1, 2, 3]
l2 = l # PBR - C1
# ----
t = (10, 20, 30)
t2 = t # PBR - C2

In [ ]:
# Keyword arguments:-

In [53]:
def relation(x, y):
    res1 = x**y
    res2 = y**x
    return res1 >= res2

a = 2
b = 5
res1 = relation(a, b) # Order matters
print(res1)
res1 = relation(x=a, y=b) # Order doesnt matters
print(res1)
res1 = relation(y=b, x=a) # Order doesnt matters
print(res1)
# print(x) # UHHH

True
True
True

In [54]:
# Default arguments:-

# * For any argument we can assign default values
def data(name, nationality="Indian"):
    print("hello %s from %s" % (name, nationality))

data("Virat")
data("Dhoni", "Indian")
data("Chahal", "Australian")
data(nationality="Australian", name="Warner")
data(name="Yuvi")

hello Virat from Indian
hello Dhoni from Indian
hello Chahal from Australian
hello Warner from Australian
hello Yuvi from Indian

In [55]:
# data(nationality="Aussie") # o/p -> error
data(nationality="NZ", "Kane") # error -> 
# Rule: default args always come last,
# you cannot have a positional arg after a default arg
# applies: calling and while declaring the function

SyntaxError: positional argument follows keyword argument (3593561137.py, line 2)

In [56]:
data("Kane", nationality="NZ")

hello Kane from NZ

In [57]:
l = [(2, 5), (1, 2), (4, 4), (3,1), (2, 3), (2, 1)]
# [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# A1
for i in range(len(l)):
    for j in range(len(l)):
        a = l[i]
        b = l[j]
        if b[-1] > a[-1]:
            l[i], l[j] = l[j], l[i]

print(l)

[(3, 1), (2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [58]:
ord('a'), ord('z')

(97, 122)

In [59]:

def mean(*l): # dynamic - no. of elements it accepts is dynamic
#     print(type(l)) # why is l not a list?
    return (sum(l)*1.0)/len(l)
    
print(mean(1, 2, 3))
print(mean(1))
print(mean(1, 2, 3, 4.5, 5))

2.0
1.0
3.1

In [60]:
def mean(threshold, *l): # (*l, threshold, ...) - NO NO
    m = (sum(l)*1.0)/len(l)
    if m >= threshold:
        return True
    return False

print(mean(1.5, 1, 2, 3))
print(mean(2.0, 1, 2, 3))
print(mean(3.5, 1, 2, 3))

# print(mean(1))
# print(mean(1, 2, 3, 4, 5))

True
True
False

In [61]:
def msg(**d):
    for k, v in d.items():
        print(k, ":", v)

msg(Virat="Captain", MS="Keeper")

Virat : Captain
MS : Keeper

In [62]:
info = {"x": 1, "y": 2}

def msg2(x, y):
    print(x, y)
    
msg2(**info) # x=1, y=2
msg2(x=1, y=2) # EQUAL

1 2
1 2

In [ ]:
# def f(a:int, b:float, c:str, *l, **d): # Exercise

In [ ]:
fname = "temp.txt" # path
fptr = open(fname, "r") # open(filepath, mode) , mode = r, w, a
names = []
for line in fptr: # read a file line by line
    names.append(line.strip())
fptr.close()

In [ ]:
fname = "temp.txt" # path
fptr = open(fname, "r")
names = [x.strip() for x in fptr.readlines()] # read file at once as a list
fptr.close()

print(names) # 2 sec - 20 mins

In [63]:
data = ["My name is Virat", "My name is MS", "My name is Chahar"]

In [69]:
fname = 'test.txt'
fptr = open(fname,"w")

for line in data:
    fwrite = fptr.write(line+"\n")
    print(fwrite)
    
fptr.close()

17
14
18

In [ ]:
with open("temp.txt", "r") as fptr: # with open(...) as <file_pointer>
    for line in fptr:
        print(line)
    x = 5
# print("hi")


fptr.closed

In [71]:
import re
x = re.search("[0-9]", "hi2 bye")
x

In [72]:
"hi2 bye"[2:3]

'2'

In [73]:
re.search("[0-9][0-9][0-9]", "789h1i..234@# bye78")

In [74]:
# Dot character (.) -> matches one occurence of any char except newline

re.search("445.66", "hi445166")

In [75]:
re.search("445.66", "hi445\n66")

In [76]:
# Escaping (\) done with a backslash
# Means is to take it literally -> loses its special meaning
re.search("1\.3", "hi 1.3 foo")

In [77]:
# Another use of [] is like this (without a hyphen)
# no more express a range of values, they express a set of characters
# match any one char from the set of characters

# task is to match - raj, Raj, taj, Taj
re.search("[rRtT]aj", "hi raj")

In [78]:
# task: 3 alphabets 2 digits 1 alphabet, ex:asv28c
re.search("[a-z][a-z][a-z][0-9][0-9][a-z]", "hi esv28c")

In [79]:
re.search("Rs [0-9][0-9]\.[0-9]", "hi Rs 10.58 ")

In [ ]:
^ (Caret) - negate (NOT)
* Inside [] when it comes as first index

In [80]:
re.search("[^0-9]", "12321#@!abc")

In [81]:
re.search("[^0-9]", "12321.237")

In [ ]:
* if not present in the first index -> then take it literally

In [82]:
re.search("lo\^", "hello^bye hi")

In [83]:
# [ is in the pattern
re.search("\[", "hi [start talking]:")

In [84]:
# digits [0-9] (or) \d
re.search("\d", "hi 123 how are you")

In [85]:
re.search("\d\d", "hi 123 how are you")

In [86]:
# digits [^0-9] (or) \D (anything except digits)
re.search("\D", "123123hi 123 how are you")

In [87]:
# \w - alphanumeric [a-z] plus [A-Z] plus [0-9]
re.search("\w", "!@#adadd12323")

In [88]:
# \s - spaces
re.search("\s", "how are you")

In [89]:
# {} - repeat occurence of what is on IMMEDIATELY its left
re.search("[0-9]{5}", "hi 123, ho1w 12321 are you 1")

In [90]:
# . -> one occurence
# + -> 1 or more occurences
re.search("[a-z]9+", "h9123")

In [91]:
re.search("[a-z]9+", "h99123") # 9, 99, 999, 9999, ....

In [92]:
re.search("[a-z]+", "c123")

In [93]:
# . -> one occurence
# + -> 1 or more occurences
# * -> 0 or more occurences

re.search("[a-z]9*", "h99123")

In [94]:
re.search("[a-z]9*", "h99999123")

In [95]:
re.search("[a-z]*", "csada123")

In [96]:
# $ -> end of pattern

re.search("foo$", "hi foo how are you foo")

In [97]:
# ^ (without []) - start of the pattern

re.search("^foo", "hi foo how are you foo")

In [98]:
re.search("^foo", "foo how are you foo")

In [99]:
# task: match text that starts with Virat and ends on Dhoni
re.search("^Virat.*Dhoni$", "Virat friends with Dhoni")

In [106]:
def leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return False
    else:
        return False

leap_year(2200)

False

In [2]:
def leap_year(year):
    if (year % 400 == 0) or (year % 4 == 0 and year % 100):
        print("Leap Year")
    else:
        print("Not Leap Year")

leap_year(2200)

Not Leap Year

In [3]:
import math

In [4]:
math.floor(3.2), math.ceil(3.2)

(3, 4)

In [5]:
sum([1, 2, 3])

6

In [6]:
sum({1: "one", 2: "two"}.keys()) # dict_keys

3

In [7]:
l = [True, False, True]
all(l) # return T if all elements in the sequence l are T, else F

False

# lambda

In [8]:
(lambda x, y: x**2 + y**2) (3,5)

34

In [9]:
f = lambda *args: sum(args)/len(args) # packing
f(1, 2, 3, 4, 5, 6)

3.5

In [10]:
f = lambda **d: sum(d.values())/len(d)
f(one=1, two=2, three=3)

2.0

In [ ]:
Advantages:-
* Saves time and memory
* Crisp code (because its one liner) -> Less code less errors

Disadvantages:-
* Not reusable
* One liner only
* Not easy to debug

In [ ]:
map function:-
* map -> perform an operation on every item of the iterable
* Almost always map -> lambda functions
* map op is a map object (a form of iterable)

In [11]:
l = [1, 2, 1, 21, 13, 16]

In [12]:
r = map(lambda x: x**2, l) # map(lambda function, iterable)

In [13]:
r

In [14]:
print(r)

<map object at 0x7f9e1018eaf0>

In [15]:
list(r)

[1, 4, 1, 441, 169, 256]

In [ ]:
map -> ip iterable of length l (=op)
filter:-
* ip is an iterable (len=l) and a condition
  op is a iterable
  op is of length [0, l]

In [16]:
x = [-1, 2, 1, -21, 13, -16]
l = filter(lambda x:x<0,x)

In [17]:
list(l)

[-1, -21, -16]

In [19]:
l1 = list(map(lambda x: x*2,x))

In [20]:
print(l1)

[-2, 4, 2, -42, 26, -32]

In [ ]:
reduce:-
* takes in an iterable and an operation
  then in pairs of elements (of the iterable) it performs the operation

l = [12, 30, 13, 14, 44, 26] # math operation
* Unordered operation - eg sum, product, sum_of_squares
    Order does not matter
    
* Ordered operation - eg subtraction, power

In [21]:
from functools import reduce

In [22]:
l = [12, 30, 13, 14, 44, 26]
res = reduce(lambda x,y:x+y,l)
res

139

In [23]:
l = [1, 3, 5, 4, 6, 4]
x = reduce(lambda x,y: x+2*y, l) # unoreded -> +,* (unordered)
x

45

In [24]:
l = [1, 3, 5, 4, 6, 4]
x = reduce(lambda x,y: x-y, l) # Ordered operation
x

-21

In [25]:
l = [["a", "b", "c", "d"], ["a", "b", "c", "d"], ["a", "b", "c", "d"]]
x = reduce(lambda x, y: x+y, l)
x

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [ ]:
* eval is able to recognize the data type from value, and extract the value
* NEVER USE eval EVER

In [26]:
def outerFun(a, b): # a=5, b=10
    def innerFun(c, d): # c=5, b=10
        return c + d # return 15
    
    return innerFun(a, b) # return iF(5, 10) -> return 15
    return a # this never gets executed

result = outerFun(5, 10)
print(result)

15

In [27]:
def display(**kwargs): # dict
    for i in kwargs:
        print(i, kwargs[i])
display(emp="Kelly", salary=9000)

emp Kelly
salary 9000

In [28]:
x = [12, 34, 12, 11, -5, 0]
y = sorted(x) # x.sort()

In [29]:
print(x)

[12, 34, 12, 11, -5, 0]

# OPPs

In [ ]:
Blueprint of a building (class) -> The building (object)

In [30]:
class Student: # int, list
    def __init__(self, sname, sid, sgen):
        self.name = sname
        self.student_id = sid
        self.gender = sgen
        
    def update_name(self, new_name):
        self.name = new_name
        
    def add_title(self): # Mr or Miss
        if self.gender == "M":
            self.name = "Mr. " + self.name
        else:
            self.name = "Miss. " + self.name

In [31]:
s = Student("Virat", 1, "M") # Encapsulation -> Data + Functions

In [32]:
s

In [33]:
s.name, s.student_id, s.gender

('Virat', 1, 'M')

In [34]:
new_name = "Virat Kohli"
s.update_name(new_name)

In [35]:
d = Student("Dhoni", 2, "M")

In [36]:
isinstance(d, Student), type(d) == Student

(True, True)

In [43]:
class Rectangle:
    def __init__(self,length,breath):
        self.l = length
        self.h = breath
        
    def area_of_rec(self):
        area = self.l*self.h
        return area
    
res = Rectangle(4,5)
res.area_of_rec()

20

In [44]:
isinstance(Rectangle, object)

True

# difference b/w method and init

Difference between a method and constructor 1: Name of constructor will always be init. whereas method has any name 2:Constructor will automatically called when object is created whereas we need to call function explictly 3:Per object constructor is called only once whereas we can call methods any number of times 4:Method is for business logic whereas constructor for declaring instance variables.

#Types of Variables in OOPS 1:INSTANCE VARIABLE(OBJECT LEVEL VARIABLES) 2:STATIC VARIABLE(CLASS LEVEL VARIABLES) 3:LOCAL VARIABLE(METHOD LEVEL VARIABLES)

#INSTANCE VARIABLES: If the value of any variable varied from object to object then that
#variable is nothing but an instance variable.
#For each object a seperated copy of variables is created .

In [45]:
#How can we access instance variables 
#Inside Class  ---> we use self variable
#outside class ---> we need to object reference

#Where we can declare instance variables
#-->Inside Constructor
#--->Inside any METHOD
#-->Outside the class using object reference 

class Test:
    def __init__(self):
        self.a=10
        self.b=20
    
    
    def m1(self):
        self.c=30

t=Test()
t.m1()
t.d=40
print(t.__dict__)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [46]:
class Test:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    
    def printvar(self):
        print("Value of a is ",self.a)
        print("Value of b is ",self.b)
t1=Test(10,20)
t2=Test(20,30)
t1.printvar()
t2.printvar()

Value of a is  10
Value of b is  20
Value of a is  20
Value of b is  30

In [ ]:
#Static variable  If the value of any variable doesnot varied from object to object then that
#variable is nothing but an static variable. 
#for total class only one copy of that variable is created and shared with every object
#We can access static variables using both class name or object reference 
#but it is recommended to use  class name

In [47]:
class Test:
    x = 10
    def __init__(self):
        self.y=20
t1=Test()
t2=Test()
print(Test.x , t1.y)
print(Test.x,t2.y)
Test.x=8888
t1.y=10
print(Test.x , t1.y)

10 20
10 20
8888 10

#Where we can declare static variable -->Within the class outside any method -->Inside Constructor by using class name -->inside instance method by using class name -->Inside classmethod by using class name or cls variable. --> Inside static method by using classname

In [ ]:
#Types in Methods in OOPS
#1:instance method ( In a method if we pass self variable then that method is nothing but instance 
#method)
#2:Static Method(General utility method for any use for this we need to pass static method decorator)
#3:Class Method(If we pass cls variable alongw with classmethod decorator than that method is classmethod)

In [50]:
class Test:
    a=10                   #1
    def __init__(self):
        Test.b=20          #2
    
    def m1(self):
        Test.c=30
        
    @classmethod
    def m2(cls):
        cls.d1=40
        Test.d2=400
    
    @staticmethod
    def m3():
        Test.e=500
t1=Test()
#print(Test.__dict__)
t1.m1()
Test.m2()
print(Test.__dict__)

{'__module__': '__main__', 'a': 10, '__init__': <function Test.__init__ at 0x7f9def15c700>, 'm1': <function Test.m1 at 0x7f9def15c550>, 'm2': <classmethod object at 0x7f9e08487730>, 'm3': <staticmethod object at 0x7f9def1e6610>, '__dict__': <attribute '__dict__' of 'Test' objects>, '__weakref__': <attribute '__weakref__' of 'Test' objects>, '__doc__': None, 'b': 20, 'c': 30, 'd1': 40, 'd2': 400}

In [51]:
class Point2D:
    def __init__(self, name, x_coord, y_coord):
        self.name = name
        self.x = x_coord
        self.y = y_coord
        
    def display(self):
        print("%s(%s,%s)" % (self.name, self.x, self.y))
        
    # obj is an object of Point2D class
    def add(self, obj):
        if isinstance(obj, Point2D):
            res_x = self.x + obj.x
            res_y = self.y + obj.y
            print("Point: (%s, %s)" % (res_x, res_y))
        else:
            print("cant add them")

    def subtract(self, obj):
        res_x = self.x - obj.x
        res_y = self.y - obj.y
        print("Point: (%s, %s)" % (res_x, res_y))

In [52]:
p1 = Point2D("A", 3, 5)
p2 = Point2D("B", 4, 7)

In [53]:
p1.display()

A(3,5)

In [54]:
p2.display()

B(4,7)

In [55]:
p1.add(p2)

Point: (7, 12)

In [56]:
p2.add(p1)

Point: (7, 12)

In [57]:
p1.subtract(p2)

Point: (-1, -2)

In [58]:
p2.subtract(p1)

Point: (1, 2)

In [ ]:
self?
* self means the current object

In [ ]:
Constructor:-
* Its a "special" function
* It is the function that is invoked when you want to create an object
* In python its name is -> __init__

In [59]:
class Student:
    school = "ABCD"
    
    def __init__(self, sname, sid, sgen):
        self.name = sname
        self.student_id = sid
        self.gender = sgen
        
    def update_name(self, new_name):
        self.name = new_name
        
    def add_title(self):
        if self.gender == "M":
            self.name = "Mr. " + self.name
        else:
            self.name = "Miss. " + self.name
            
    def __str__(self):
        return self.name + " " + str(self.student_id) + " " + self.gender + " "

In [60]:
s = Student("Virat", 1, "M")

In [61]:
print(s)

Virat 1 M

In [62]:
Student.school # good practice

'ABCD'

In [63]:
s.school # Avoid this

'ABCD'

In [64]:
p = Student("Smriti", 2, "F")

In [66]:
print(p)

Smriti 2 F

In [ ]:
Uses - When and When not?
* Use it when you have such uniform data across "all" objects
* Read only member
* Class attrs can be data members (and functions)

When not?
* If the class attr is subjected to modification -> Dont event think about it

In [67]:
Student.school = "XYZ"

In [68]:
s.school

'XYZ'

In [ ]:
Class attr
* Read by class -> fine
* Read by object -> fine

* Updated by class -> fine (it will reflect in all objects)
* Updated by an object X -> local copy to X 
                        (but not to other objects, class)

In [69]:
s.name = "Virat Kohli"

In [70]:
s.name # update_name

'Virat Kohli'

In [ ]:
Inheritance:- 
Mechanism by which a child class uses the attrs of its parent class(es)

class Teacher

class MathTeacher(Teacher)
class ScienceTeacher(Teacher)

In [71]:
class Pet(object):
    def __init__(self, name, gen, age, wt, vacc=True):
        self.name = name
        self.gender = gen
        self.vaccinated = vacc
        self.age = str(age) + "years"
        self.weight = str(wt) + "lbs"
        
    def sound(self):
        print("In Pet sound()")
    
    def feed_liquid(self, liquid):
        print("%s is drinking %s" % (self.name, liquid))
    
    def feed_food(self, food):
        pass
    
    def __str__(self):
        return "%s-%s-%s-%s-%s" % (self.name, self.gender, self.vaccinated, self.age, self.weight)

In [72]:
class Dog(Pet):
    def __init__(self, name, gen, age, wt, breed, color, of=True ,vacc=True):
        super().__init__(name, gen, age, wt, vacc)
        self.breed = breed
        self.color = color
        self.owner_friendly = of
        
    def sound(self): # function overriding
        super().sound() # It never a use case to call another parent fun
        print("Woof Woof!!")
    
    def feed_food(self, food): # implemented in the child class
#         super().feed_food(food)
        print("Feeding %s food %s" % (self.name, food))
    
    def __str__(self):
        x = super().__str__()
        return "%s-%s-%s-%s" % (x, self.breed, self.color, self.owner_friendly)

In [73]:
d = Dog("Robin", "M", 3, 12, "Germenshepherd", "Cream", vacc=False)

In [75]:
print(d)

Robin-M-False-3years-12lbs-Germenshepherd-Cream-True

In [76]:
d.sound()

In Pet sound()
Woof Woof!!

In [77]:
d.feed_food("Pedigree")

Feeding Robin food Pedigree

In [78]:
class Point2D:
    def __init__(self, name, x_coord, y_coord):
        self.name = name
        self.x = x_coord
        self.y = y_coord
        
    def __str__(self): # print(p1)
        return "%s(%s,%s)" % (self.name, self.x, self.y)

In [79]:
p = Point2D("A", -3, 7)
print(p)

A(-3,7)

In [ ]:
Data Abstraction (Composition) 
v/s
Encapsulation (Class, Data types)

In [ ]:
Class Attributes (Functions):-

In [80]:
class Student:
    school = "ABCD"
    
    def __init__(self, name, roll_no):
        self.name = name
        self.roll = roll_no
        
    def __str__(self):
        return "%s-%s-%s" % (self.name, self.roll, Student.school) 
    
    def change_school(self, new_school):
        Student.update_school(new_school)
    
    @classmethod # decorator
    def update_school(cls, new_school_name):
        if new_school_name and new_school_name != cls.school:
            cls.school = new_school_name

In [81]:
s = Student("Virat", 1)
print(s)

Virat-1-ABCD

In [82]:
s.school, Student.school

('ABCD', 'ABCD')

In [83]:
s.change_school("XYZ")

In [84]:
s.school, Student.school

('XYZ', 'XYZ')

In [85]:
s.update_school("CDE")

In [86]:
s.school, Student.school

('CDE', 'CDE')

In [92]:
class Animal:
    def __init__(self,name,species):
        self.name = name
        self.species = species
        
    def sound(self):
        pass
    def eating(self):
        print(f"{self.name} is eating")
        
class Dog(Animal):
    def __init__(self,name,breed):
        super().__init__(name,species="Dog")
        self.breed = breed
        
    def sound(self):
        print(f"{self.name} is barking")
        
    def featch(self):
        print(f"{self.name} is featching")
        
class Cat(Animal):
    def __init__(self,name,breed):
        super().__init__(name,species="Dog")
        self.breed = breed
        
    def sound(self):
        print(f"{self.name} is new")
        
    def scratch(self):
        print(f"{self.name} is Scratching")

In [93]:
obj1 = Dog("Budddy","Labrador")
obj2 = Cat("Budddy1","Labrador1")

In [98]:
# Calling methods of the child classes
obj1.sound()  # Output: Buddy barks.
obj1.eating()        # Output: Buddy is eating.
obj1.featch()      # Output: Buddy is fetching.

obj2.sound()  # Output: Whiskers meows.
obj2.eating()        # Output: Whiskers is eating.
obj2.scratch()    # Output: Whiskers is scratching.

Budddy is barking
Budddy is eating
Budddy is featching
Budddy1 is new
Budddy1 is eating
Budddy1 is Scratching

object-oriented programming that allows a class (the child or subclass) to inherit properties and behaviors from another class (the parent or superclass).

Data Abstraction in Python is the process of hiding the real implementation of an application from the user and emphasizing only on usage of it.

In [99]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

    @abstractmethod
    def perimeter(self):
        pass
#Any class that inherits from the Shape class will be forced to implement the area and perimeter methods.

Encapsulation is the concept of bundling data and methods that operate on that data within a single unit, known as a class. The internal state of the object is hidden from the outside, and access to the data is controlled through methods. This provides data protection and ensures that the object's state remains consistent.

In Python, encapsulation is achieved by using access control modifiers, such as public, private, and protected. However, Python follows a convention of using underscores (_) to indicate private variables, although there is no strict enforcement of access control.

In [100]:
class Person:
    def __init__(self, name, age):
        self._name = name    # Private variable (convention with a single underscore)
        self._age = age      # Private variable (convention with a single underscore)

    def get_name(self):
        return self._name

    def set_name(self, name):
        self._name = name

    def get_age(self):
        return self._age

    def set_age(self, age):
        if age > 0:
            self._age = age

In this example, name and age are encapsulated as private variables, and access to them is controlled through getter and setter methods.

# Decorator

In Python, a decorator is a special type of function that allows you to modify or extend the behavior of other functions or methods. Decorators are used to wrap a function or method with additional functionality without modifying its code directly. They provide a way to separate concerns and enhance the functionality of functions in a clean and reusable manner.

The syntax to define a decorator uses the @decorator_name symbol before the function or method you want to decorate. When the decorated function is called, it will be passed as an argument to the decorator function, which then executes some code before and/or after calling the original function.

Here's a simple example to illustrate how decorators work:

In [103]:
def decorator_fun(func): #decorator function
    def wrapper():
        print("before calling funciton")
        func()
        print("after calling function")
    return wrapper()

@decorator_fun
def hello_fun(): #decorated function
    print("Hello !!")
    
hello_fun()  #calling - my_decorator(say_hello)()

before calling funciton
Hello !!
after calling function

TypeError: 'NoneType' object is not callable

In this example, we defined a decorator called my_decorator, which takes a function func as an argument and defines an inner function called wrapper. The wrapper function contains code to execute before and after calling func. The decorator returns the wrapper function, which replaces the original say_hello function.

When we call say_hello(), it is effectively calling my_decorator(say_hello)(). The my_decorator function wraps the say_hello function with additional behavior.

In [104]:
import csv

In [105]:
data = [["Virat", 35, "Male", 5.10],
        ["Dhoni", 40, "Male", 5.8],
        ["Smriti", 30, "Female", 5.7]]
columns = ["Name", "Age", "Gender", "Height"]

In [106]:
fpath = "cricketers2.csv"

with open(fpath, "w") as fptr: # Cannot start writing
    wobj = csv.writer(fptr) # Create a CSV Writer object
    wobj.writerow(columns)  
    wobj.writerows(data)

In [108]:
fpath = "cricketers2.csv"
my_data = []

with open(fpath, "r") as fptr:
    robj = csv.reader(fptr)
    
    for line in robj:
        my_data.append(line)

In [109]:
my_data

[['Name', 'Age', 'Gender', 'Height'],
 ['Virat', '35', 'Male', '5.1'],
 ['Dhoni', '40', 'Male', '5.8'],
 ['Smriti', '30', 'Female', '5.7']]

In [110]:
fpath = "cricketers2.csv"
my_data = []
columns = []

with open(fpath, "r") as fptr:
    robj = csv.reader(fptr)
    
    columns = next(robj)
    for line in robj:
        my_data.append(line)

In [111]:
columns

['Name', 'Age', 'Gender', 'Height']

In [112]:
my_data

[['Virat', '35', 'Male', '5.1'],
 ['Dhoni', '40', 'Male', '5.8'],
 ['Smriti', '30', 'Female', '5.7']]

In [117]:
fpath = "cricketers2.csv"
with open(fpath,"r") as fptr:
    fread = csv.DictReader(fptr)
    for i in fread:
        print(i)

{'Name': 'Virat', 'Age': '35', 'Gender': 'Male', 'Height': '5.1'}
{'Name': 'Dhoni', 'Age': '40', 'Gender': 'Male', 'Height': '5.8'}
{'Name': 'Smriti', 'Age': '30', 'Gender': 'Female', 'Height': '5.7'}

In [120]:
import json

In [121]:
info = [{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
        {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
        {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]

In [122]:
fpath = "data.json"
with open(fpath, "w") as fptr:
    json.dump(info, fptr)

In [123]:
fpath = "data.json"
my_info = None

with open(fpath, "r") as fptr:
    my_info = json.load(fptr)

In [124]:
my_info

[{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
 {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
 {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]

In [ ]:
* Exceptions occur during Run time
* Exceptions occur due to a combination of values # x/(y+z)
* Exceptions are error thrown by Python at run time

In [ ]:
try, except:-
* try is a block -> write your code in this block
* except is a block -> handle your exception here

In [ ]:
try: # 3 files, 1 DB, port 8000 - resources
    nr = 5
    dr = 0 # open file
    q = nr/dr # infinite values that nr, dr can hold it will dr = 0
    print(q)
    
    ...
    # close file
    <close all resources>
except Exception as e: # except <Exception_class_name> as <obj>
    print(e.args) # close here -> BAD IDEA
finally: # it will always execute
    print("in finally") # close your resources -> files, db, network conn, ports, website, servers

In [ ]:
Generators:-
* Generators are entities that help you iterate over a result set
  without storing the entire result in memory
* Generator classes, functions
* They are good to be used when you have a lot of data, infinite values

In [1]:
class OddValue: # 1, 3, 5, ..., max_value
    def __init__(self, max_value):
        self.max = max_value
        
    def get_odd_values(self):
        return list(range(1, self.max, 2))

In [ ]:
obj = OddValue(10000000000) # 1 KB - 1 MB
res = obj.get_odd_values()
# for i in res:
#     fun(i)
* Workable solution not practical

In [2]:
class OddValueGen: # 1, 3, 5, ..., max_value
    def __init__(self, max_value):
        self.max = max_value
        
    def __iter__(self):
        return self
    
    def __next__(self): # 1M DB records # 512 records -> 512 records -> 512 rec
        start = 1
        while start <= self.max:
            yield start # save state here
            start += 2

In [3]:
obj = OddValueGen(16)

In [5]:
for i in next(obj):
    print(i,end=" ") # 1, 1, 1, 1

1 3 5 7 9 11 13 15

In [6]:
def fun():
    n = 1
    
    print("A")
    yield n #
    
    print("B")
    n *= 10
    yield n # 
    
    print("C")
    n *= 10
    yield n #

In [7]:
res = fun() # object creation

In [8]:
res

In [9]:
print(next(res)) # function calls

A
1

In [10]:
def fib_gen():
    a, b = 0.0, 1.0
    
    while True:
        c = a+b
        yield c # return 
        a = b
        b = c

In [11]:
f = fib_gen()

In [12]:
res = next(f)
print(res, type(res))

1.0 <class 'float'>

In [13]:
from collections import deque, Counter, OrderedDict

In [14]:
q = deque([1, 2, 3, 10, 20, 30])

In [15]:
q

deque([1, 2, 3, 10, 20, 30])

In [ ]:
Ticket counter: P1, P2, P3, ..., Pn, Pn+1
Which Data structure in CSE is an inspiration to Deque? Doubly Linked List

In [16]:
q.popleft()

1

In [17]:
q.insert(2, 15) # its an very big overhead operation -> dequeing i-1, appendleft, [0,i-1]

In [18]:
q

deque([2, 3, 15, 10, 20, 30])

In [19]:
c = Counter(apples=3, oranges=5, grapes=2)
print(c)

Counter({'oranges': 5, 'apples': 3, 'grapes': 2})

In [ ]:
Counter
* Its very practical -> store counter
In python which data structure is the inspiration -> dict

In [20]:
od = OrderedDict({"b": 1, "c": 25, "a": 3, "dd": 14})

In [21]:
od

OrderedDict([('b', 1), ('c', 25), ('a', 3), ('dd', 14)])

In [ ]:
Getter, Setter and Deleter:-

In [22]:
class Person: # VERY BAD DESIGN
    def __init__(self, n):
        self.name = n
#         ....
        
    def get_name(self):
        return self.name
    
    def set_name(self, new_name):
        self.name = new_name
        
    def del_name(self):
        del self.name

In [23]:
p = Person("Virat")

In [24]:
p.get_name()

'Virat'

In [25]:
p.set_name("Virat Kohli")

In [26]:
p.get_name()

'Virat Kohli'

In [27]:
class Person:
    def __init__(self, n):
        self._name = n
        self.age = None
        
    @property # Getter for name attr
    def name(self): # Design benefit -> unify your code flows
        print("Get method")
        return self._name
    
    @name.setter
    def name(self, new_name): # Let you validate your input
        print("Set method")
        if not isinstance(new_name, str):
            print("Bad data")
            return
        
        self._name = new_name
        
    @name.deleter
    def name(self):
        print("Del method")
        del self._name
        
# Class, Object, ""Attribute"", Data <<--- Bind GSD?

In [28]:
p = Person("Virat")

In [29]:
p

In [30]:
print(p.name)

Get method
Virat

In [31]:
p.age

In [32]:
del p.age

In [ ]:
Actions:-
* HTTPS requests type GET, POST, PUT and more ..
  GET -> to read data from backend
  POST -> to write a new record into backend
  PUT -> to update an existing data in backend

Recursion:
When a function calls itself then that function is known as recursive function and that concept is known as recursion

In [ ]:
memory in os
heap--objects are stored
stack-- function calling and variables
data members/instructions

In [ ]:
Iteration vs Recursion
1: Recursion is stored in stack memory thatswhy its is slower than iteration methods.
2: Recursion takes more time and memory.

In [35]:
def recur_factorial(num):
    if num==1 or num==0:
        return 1
    else:
        return num*recur_factorial(num-1)
num=int(input())
print(recur_factorial(num))

4
24

In [ ]:
Libraries of Python:
1- Works on Matrices rows and coloumns : Numpy
2: Works on scientific computation : scipy
3: works on csv files , data handling , data manipulation :
4: For implementing user interface : tkinter
5: For web scrapping
- beautiful soap , requests
6: For creating Machine Learning apps
: Streamlit
7: For dynamic websites : Django , tornado
8: for making game : Pygame
9: for static websites : flask

In [ ]:
for any software developmeent:
1: Front-End part --> HTML ,CSS , JS
TKINTER
2: backend part --> php , Nodejs , Python , Java , VisualBasics , SQL , No sql Mongodb

In [ ]:
Python Core and Advanced
Why we use oops concepts in our projects:
1:Inheritance --- reusability
2:Encapsulation --- Wrappng of variables and methods
3:Polymorphism --- poly : many morphisms:forms + operator
4:Abstraction -- data hiding