In [1]:
data = ['aha','sachin','dhoni','virat','SACHIN']

vowels = ['a','e','i','o','u']
for name in data:
    ch = name[1]
    if ch.lower() in vowels:
        print(name)

sachin
virat
SACHIN

In [8]:
data = ["Virat", "Dhoni", "Rohit Sharma", "Chahar Yuzi", "Sachin Tendulkar", "sachin tendulkar"]

vowels = ['a','e','i','o','u']

for name in data:
    ch = name[1].lower()
    ch1 = name[4].lower()
    if ch in vowels:
        if ch1 in vowels:
            print(name.upper())
        else:
            print(name.lower())
    else:
        print(name.lower())

virat
dhoni
rohit sharma
chahar yuzi
SACHIN TENDULKAR
SACHIN TENDULKAR

In [3]:
import csv

data = [['Ajay',25,'M'],['Amit',24,'M'],['shreya',23,'F']]
columns = ['name','age','gender']

file_name = 'data1.txt'

with open(file_name,'w') as fptr:
    wobj = csv.writer(fptr)
    wobj.writerow(columns)
    for i in data:
        wobj.writerow(i)

In [5]:
fpath = 'data1.txt'
data2 = []

with open(fpath,'r') as fptrs:
    wobjs = csv.reader(fptrs)
    for i in wobjs:
        data2.append(i)
        
print(data2)

[['name', 'age', 'gender'], ['Ajay', '25', 'M'], ['Amit', '24', 'M'], ['shreya', '23', 'F']]

In [7]:
fpath = 'data1.txt'

with open(fpath,'r') as fptr:
    wobjs = csv.DictReader(fptr)
    for i in wobjs:
        print(i)

{'name': 'Ajay', 'age': '25', 'gender': 'M'}
{'name': 'Amit', 'age': '24', 'gender': 'M'}
{'name': 'shreya', 'age': '23', 'gender': 'F'}

In [8]:
import json

In [9]:
info = [{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
        {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
        {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]

In [10]:
fpath = "data.json"
with open(fpath, "w") as fptr:
    json.dump(info, fptr)

In [11]:
fpath = "data.json"
my_info = None

with open(fpath, "r") as fptr:
    my_info = json.load(fptr)

In [12]:
my_info

[{'Name': 'Virat', 'Age': '35', 'Score': [100, 50, 25], 'Height': '5.1'},
 {'Name': 'Dhoni', 'Age': '40', 'Score': [98, 50, 25], 'Height': '5.8'},
 {'Name': 'Smriti', 'Age': '30', 'Score': [100, 100], 'Height': '5.7'}]