In [1]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 69.5 MB/s eta 0:00:00:00:01
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.10/site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.3)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import cassandra
print(cassandra.__version__)

3.25.0

In [4]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': 'secure-connect-cassandra-demo-3.zip'
}
auth_provider = PlainTextAuthProvider('PxOaQUqQuUEQLAxMvPJTpvFF', '3HmUieG-L.zwc.qyR+.HDdvmXezMeSek+hWZ7u6ew1DAvE61DQ9pDpr9squ3BfkpZt9gmQMPWCMe27AUkf3ZduxOdOI3zb1AbsZwZaSCYupwGBvbjYY5KZzo.iOM1J+x')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

result = session.execute("select release_version from system.local")
row = result.one()
#print(row)
 if row:
       print(row[0])
 else:
       print("An error occurred.")

Row(release_version='4.0.0.6816')

In [6]:
#command to create keyspace in cassandra
try:
    query = "create keyspace employee_management with replication = {'class' : 'SimpleStrategy','replication_factor' : 3}"
    session.execute(query)
    print("Keyspace Created Successfully !!")
except Exception as err:
    print("Exception Occured while creating Keyspace : " ,err)

Exception Occured while creating Keyspace :  Error from server: code=2100 [Unauthorized] message="Missing correct permission on employee_management.: Keyspace management is currently only supported at https://astra.datastax.com/org/d07d3d1f-d078-4e57-b8a9-7f717a03eae4/database/a21fe48c-9b0c-472e-9b04-0ed33cd2b6ac"

In [ ]:
#command to Alter keyspace in cassandra
try:
    query = "alter keyspace employee_management with replication = {'class' : 'SimpleStrategy','replication_factor' : 2}"
    session.execute(query)
    print("Keyspace Altered Successfully !!")
except Exception as err:
    print("Exception Occured while altering Keyspace : " ,err)

In [ ]:
#command to Drop keyspace in cassandra
try:
    query = "drop keyspace employee_management"
    session.execute(query)
    print("Keyspace Dropped Successfully !!")
except Exception as err:
    print("Exception Occured while dropping Keyspace : " ,err)

In [7]:
#command to use keyspace in cassandra
try:
    query = "use test_keyspace_demo"
    session.execute(query)
    print("Inside the Keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : " ,err)

Inside the Keyspace

In [8]:
#command to create a table inside a keyspace
try:
    query = """create table employee(
               emp_id int,
               emp_name varchar,
               emp_salary int,
               emp_dept varchar,
               emp_email varchar,
               emp_phone varchar,
               primary key (emp_id,emp_dept)
             )
             """
    
    session.execute(query)
    print("Table  Created Inside the keyspace")
except Exception as err:
    print("Exception Occured while creating the table : " ,err)

Table  Created Inside the keyspace

In [9]:
#Alter the table in casssandra to drop a column
try:
    query = "alter table employee drop emp_email"
    session.execute(query)
    print("Column dropped Successfully !!")
except Exception as err:
    print("Exception Occured while dropping the column : " ,err)

Table  Altered Successfully !!

In [10]:
#Alter the table in casssandra to add a new column
try:
    query = "alter table employee add emp_email text"
    session.execute(query)
    print("Column added Successfully !!")
except Exception as err:
    print("Exception Occured while adding the column : " ,err)

Column added Successfully !!

In [ ]:
#Drop the table in casssandra
try:
    query = "drop table employee"
    session.execute(query)
    print("Table Dropped Successfully !!")
except Exception as err:
    print("Exception Occured while dropping the table : " ,err)

In [11]:
#Insert data into casssandra table
try:
    query = "insert into employee(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(1,'Ajay',10000,'Software','abc@gmail.com','+91 7247593467')"
    session.execute(query)
    print("Record Inserted Successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table : " ,err)

Record Inserted Successfully !!

In [13]:
#Insert data into casssandra table
try:
    query = "insert into employee(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(2,'Rahul',20000,'IT','abc1@gmail.com','+91 8047593467')"
    session.execute(query)
    print("Record Inserted Successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table : " ,err)

Record Inserted Successfully !!

In [14]:
#Insert data into casssandra table
try:
    query = "insert into employee(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(3,'Sunny',30000,'HR','abc2@gmail.com','+91 9047593467')"
    session.execute(query)
    print("Record Inserted Successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table : " ,err)

Record Inserted Successfully !!

In [15]:
#Insert data into casssandra table
try:
    query = "insert into employee(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(4,'Amit',30000,'Software','abc3@gmail.com','+91 6047593467')"
    session.execute(query)
    print("Record Inserted Successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table : " ,err)

Record Inserted Successfully !!

In [21]:
#Select query on casssandra table
try:
    query = "select * from employee"
    result = session.execute(query)
    # row = result.one()
    # print(row)
    for row in result:
        print(row)
    #print("Select commnad Successfully executed!!")
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=1, emp_dept='Software', emp_email='abc@gmail.com', emp_name='Ajay', emp_phone='+91 7247593467', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='abc1@gmail.com', emp_name='Rahul', emp_phone='+91 8047593467', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='abc3@gmail.com', emp_name='Amit', emp_phone='+91 6047593467', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='abc2@gmail.com', emp_name='Sunny', emp_phone='+91 9047593467', emp_salary=30000)

In [22]:
#Select query for specific columns in casssandra table
try:
    query = "select emp_id,emp_name from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=1, emp_name='Ajay')
Row(emp_id=2, emp_name='Rahul')
Row(emp_id=4, emp_name='Amit')
Row(emp_id=3, emp_name='Sunny')

In [23]:
#Select query for specific columns in casssandra table and how to access from Row object
try:
    query = "select emp_id,emp_name from employee"
    result = session.execute(query)
    #option 1
    for row in result:
        print("Emp ID :",row[0])
        print("Emp Name :",row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Emp ID : 1
Emp Name : Ajay
Emp ID : 2
Emp Name : Rahul
Emp ID : 4
Emp Name : Amit
Emp ID : 3
Emp Name : Sunny

In [27]:
#Select query for specific columns in casssandra table and how to access from Row object
try:
    query = "select emp_id,emp_name from employee"
    result = session.execute(query)
    #option 2
    for row in result:
        print("Emp ID :",row['emp_id'])
        print("Emp Name :",row['emp_name'])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Exception Occured while selecting the data from table :  tuple indices must be integers or slices, not str

In [28]:
#Write a query to get total count of employees
try:
    query = "select count(*) from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(count=4)
4

In [30]:
#Write a query to find maximum salary from employee table
try:
    query = "select max(emp_salary) from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(system_max_emp_salary=30000)
30000

In [33]:
# Write a query to filter data from cassandra table or how to use where clause
# Rules for where clause - It can be used effectively with high performance for given below type of columns
# 1.) Partition Key (Single or Composite)
                   #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high
try:
    query = "select * from employee where emp_name = 'Ajay' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=1, emp_dept='Software', emp_email='abc@gmail.com', emp_name='Ajay', emp_phone='+91 7247593467', emp_salary=10000)
1

In [34]:
#where caluse for partition key only or Rule no - 1
try:
    query = "select * from employee where emp_id = 2"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=2, emp_dept='IT', emp_email='abc1@gmail.com', emp_name='Rahul', emp_phone='+91 8047593467', emp_salary=20000)
2

In [37]:
#where caluse for Clustering key only or Rule no - 2
try:
    query = "select * from employee where emp_dept = 'Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=1, emp_dept='Software', emp_email='abc@gmail.com', emp_name='Ajay', emp_phone='+91 7247593467', emp_salary=10000)
1

In [ ]:
#we have another composite partiton key
primary key ( (emp_id,fname) , dept)

select * from employee where emp_id = 'x' and dept = 'software' and fname = 'shashank' # wrong key

select * from employee where and dept = 'software' and  emp_id = 'x' fname = 'shashank' # Correct key

In [45]:
# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id,sum(emp_salary) as sum_salary from employee group by emp_id"
    result = session.execute(query)
    row = result.one()
    print(row)
   # print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=1, sum_salary=10000)

In [46]:
# Group by in cassandra 
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id,emp_dept,sum(emp_salary) as sum_salary from employee group by emp_id,emp_dept"
    result = session.execute(query)
    row = result.one()
    print(row)
   # print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table : " ,err)

Row(emp_id=1, emp_dept='Software', sum_salary=10000)